<div dir="rtl">
    <h2 mat-dialog-title>

        <div class="d-flex justify-content-between align-items-center">
            <span class="fontsection">{{'PERMISSIONS.TITLES.ASSIGNROLESTOUSER'|translate}}</span>
            <button class="col-md-1" mat-button [mat-dialog-close]="true" cdkFocusInitial>
                <mat-icon>close</mat-icon>
            </button>
        </div>

    </h2>

    <mat-divider></mat-divider>

    <mat-dialog-content style="z-index: -1;" class="mat-typography">
        <div class="row">
            <div class="mb-13 text-center">
                <h1 class="mb-3 fontsection fs-2">{{'PERMISSIONS.TITLES.ASSIGNROLESTOUSER'|translate}}</h1>
            </div>

            <div class="mb-7">

                <label class="required fw-bold fs-6 mb-5">{{'PERMISSIONS.TITLES.ROLES'|translate}}</label>

                <ng-container *ngFor="let role of roleData.userRoles">
                    <div class="d-flex fv-row">
                        <div class="form-check form-check-custom form-check-solid">

                            <input class="form-check-input me-3" name="user_role" type="checkbox" id="kt_modal_update_role_option_0"
                                checked='{{role.isSelected}}' [(ngModel)]="role.isSelected" />

                            <label class="form-check-label" for="kt_modal_update_role_option_0">
                                <div class="fw-bolder text-gray-800">{{role.displayValue}}</div>

                            </label>

                        </div>
                    </div>
                    <div class='separator separator-dashed my-5'></div>
                </ng-container>



                <!-- <div class="d-flex fv-row">

            <div class="form-check form-check-custom form-check-solid">

                <input class="form-check-input me-3" name="user_role" type="checkbox" value="1"
                    id="kt_modal_update_role_option_1" />

                <label class="form-check-label" for="kt_modal_update_role_option_1">
                    <div class="fw-bolder text-gray-800">Developer</div>

                </label>
            </div>
        </div> -->

            </div>

        </div>
    </mat-dialog-content>


    <mat-dialog-actions>
        <div class="d-flex">
            <button mat-raised-button (click)="save()" [disabled]="loading" color="primary">{{'HR.BUTTONS.SAVE'|translate}}</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{'HR.BUTTONS.CLOSE'|translate}}</button>
        </div>
    </mat-dialog-actions>
</div>