<div id="kt_assignrolestouser" class="bg-white" data-kt-drawer="true" data-kt-drawer-name="assignrolestouser"
    data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'900px', 'lg': '900px'}"
    data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_assignrolestouser_toggle"
    data-kt-drawer-close="#kt_assignrolestouser_close">
    <div class="card shadow-none rounded-0 w-100">

        <div class="card-header " id="kt_assignrolestouser_header">
            <h3 class="card-title fw-bolder text-dark fontsection fs-2">{{'PERMISSIONS.TITLES.ASSIGNROLESTOUSER'|translate}}</h3>

            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon btn-active-light-primary me-n5"
                    id="kt_assignrolestouser_close">
                    <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
                        class="svg-icon svg-icon-1"></span>
                </button>
            </div>
        </div>

        <div class="card-body position-relative" id="kt_assignrolestouser_body">
            <div class="mb-13 text-center">
                <h1 class="mb-3 fontsection fs-2">{{'PERMISSIONS.TITLES.ASSIGNROLESTOUSER'|translate}}</h1>
            </div>

            <div class="mb-7">

                <label class="required fw-bold fs-6 mb-5">{{'PERMISSIONS.TITLES.ROLES'|translate}}</label>

                <ng-container *ngFor="let role of roleData.userRoles">
                    <div class="d-flex fv-row">
                        <div class="form-check form-check-custom form-check-solid">

                            <input class="form-check-input me-3" name="user_role" type="checkbox"
                                id="kt_modal_update_role_option_0" checked='{{role.isSelected}}'
                                [(ngModel)]="role.isSelected" />

                            <label class="form-check-label" for="kt_modal_update_role_option_0">
                                <div class="fw-bolder text-gray-800">{{role.displayValue}}</div>

                            </label>

                        </div>
                    </div>
                    <div class='separator separator-dashed my-5'></div>
                </ng-container>



                <!-- <div class="d-flex fv-row">

                    <div class="form-check form-check-custom form-check-solid">

                        <input class="form-check-input me-3" name="user_role" type="checkbox" value="1"
                            id="kt_modal_update_role_option_1" />

                        <label class="form-check-label" for="kt_modal_update_role_option_1">
                            <div class="fw-bolder text-gray-800">Developer</div>

                        </label>
                    </div>
                </div> -->

            </div>

        </div>

        <div class="card-footer py-5 row justify-content-center" id="kt_editemployees_footer">
            <div class="col-md-6 d-flex">
                <button type="reset" #btnClose id="kt_assignrolestouser_close" class="btn btn-light me-3">{{'PERMISSIONS.BUTTONS.CANCEL'|translate}}</button>
                <button type="submit" id="kt_modal_new_target_submit" class="btn btn-primary" (click)="save()">
                    <span class="indicator-label">{{'PERMISSIONS.BUTTONS.SAVE'|translate}}</span>
                    <span class="indicator-progress">Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
            </div>
        </div>

    </div>
</div>