
	<h2 mat-dialog-title>
		<span class="fontsection"> بيانات الشركة </span>
	
	</h2>
	
	<mat-divider></mat-divider>
	
	
	<mat-dialog-content style="z-index: -1;" class="mat-typography">
	
	
			<h1>
				بيانات الشركة
			</h1>
	
			<form [formGroup]="companyDataForm">
	
				<input type="hidden" name="id" formControlName="id">
	
				<div class="col-md-12">
	
					<div>
	
						<!--<div class="fontForInputs">
								{{'HR.INPUTS.COMPANYDATA' | translate}}
							</div>-->
	
						<div class="d-flex" *ngIf="isEdit==false">
	
							<span class=" mx-10">
								<label class="fontForInputs">{{'HR.INPUTS.LOGOPRINT' | translate}} </label>
								<input type="file" class="mx-2" (change)="logoPrintChange($event)" placeholder="Placeholder"
									name="logoPrint" formControlName="logoPrint">
								<mat-hint>
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'required',
											  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.LOGOPRINT' | translate},
											  control: companyDataForm.controls['logoPrint']
											}"></ng-container>
								</mat-hint>
							</span>
	
	
							<span class="col-md-4">
								<label class="fontForInputs">{{'HR.INPUTS.LOGOWEB' | translate}} </label>
								<input type="file" class="mx-2" (change)="logoWebChange($event)" placeholder="Placeholder"
									name="logoWeb" formControlName="logoWeb">
								<mat-hint>
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'required',
											  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.LOGOWEB' | translate},
											  control: companyDataForm.controls['logoWeb']
											}"></ng-container>
	
								</mat-hint>
							</span>
						</div>
	
					</div>
	
					<div class="row  mt-5">
	
						<div class="col-md-4">
	
							<mat-form-field appearance="outline">
								<mat-label> {{"HR.INPUTS.CODE" | translate}} </mat-label>
								<input matInput placeholder="Placeholder" name="code" formControlName="code">
								<mat-hint>
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.CODE' | translate},
										  control: companyDataForm.controls['code']
										}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.CODE' | translate , min:3},
										  control: companyDataForm.controls['code']
										}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.CODE' | translate , max:100},
											control: companyDataForm.controls['code']
										 }"></ng-container>
								</mat-hint>
							</mat-form-field>
	
						</div>
	
						<div class="col-md-4">
	
							<mat-form-field appearance="outline">
								<mat-label> {{'HR.INPUTS.COMPANYNAME' | translate}}</mat-label>
								<input matInput placeholder="Placeholder" name="companyName" formControlName="companyName">
								<mat-hint>
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.COMPANYNAME' | translate},
										  control: companyDataForm.controls['companyName']
										}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.COMPANYNAME' | translate , min:3},
										  control: companyDataForm.controls['companyName']
										}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.COMPANYNAME' | translate , max:100},
											control: companyDataForm.controls['companyName']
										 }"></ng-container>
								</mat-hint>
							</mat-form-field>
	
						</div>
	
						<div class="col-md-4">
	
							<div class="row mt-2">
								<div class="col-md-3">
									<label class="fontForInputs mt-5"> {{'HR.INPUTS.STATE' | translate}} </label>
								</div>
	
								<div class="col-md-9">
	
									<ng-multiselect-dropdown class="mt-5" [settings]="dropdownSettings" name="state_Id"
										formControlName="state_Id" [data]="dropdownListDataForState"
										(onSelect)="onItemSelectState($event)">
									</ng-multiselect-dropdown>
	
								</div>
							</div>
						</div>
	
	
					</div>
	
	
					<div class="row">
						<div class="col-md-4">
	
							<mat-form-field appearance="outline">
								<mat-label> {{'HR.INPUTS.USERCOUNTS'|translate}}</mat-label>
								<input matInput type="number" placeholder="Ex. 12" min="1" name="mobileUsersCount"
									formControlName="mobileUsersCount">
								<mat-hint>
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.USERCOUNTS' | translate},
										  control: companyDataForm.controls['mobileUsersCount']
										}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'pattern',
											message: 'AUTH.VALIDATION.INVALID' | translate : {name:'HR.INPUTS.USERCOUNTS' | translate},
											control: companyDataForm.controls['mobileUsersCount']
										  }"></ng-container>
	
								</mat-hint>
	
							</mat-form-field>
	
						</div>
	
						<div class="col-md-4">
							<mat-form-field appearance="outline">
								<mat-label>{{'HR.INPUTS.ACTIVITY'|translate}}</mat-label>
								<input matInput placeholder="Placeholder" name="activity" formControlName="activity">
								<mat-hint>
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.ACTIVITY' | translate},
										  control: companyDataForm.controls['activity']
										}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.ACTIVITY' | translate , min:3},
										  control: companyDataForm.controls['activity']
										}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.ACTIVITY' | translate , max:100},
											control: companyDataForm.controls['activity']
										 }"></ng-container>
								</mat-hint>
							</mat-form-field>
						</div>
	
						<div class="col-md-4">
	
							<div class="row mt-2">
								<div class="col-md-3">
									<label class="fontForInputs mt-5"> {{'HR.INPUTS.REGION' | translate}} </label>
								</div>
	
								<div class="col-md-9">
	
									<ng-multiselect-dropdown class="mt-5" [settings]="dropdownSettings"
										[data]="dropdownListDataForRegion" name="region_Id" formControlName="region_Id">
									</ng-multiselect-dropdown>
									<mat-hint>
										<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'required',
											  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.REGION' | translate},
											  control: companyDataForm.controls['region_Id']
											}"></ng-container>
	
									</mat-hint>
	
								</div>
							</div>
						</div>
	
					</div>
	
	
	
					<div class="row">
	
	
						<div class="col-md-8">
	
							<mat-form-field appearance="outline">
								<mat-label>{{'HR.INPUTS.ADDRESS' | translate}}</mat-label>
								<input matInput placeholder="Placeholder" name="address" formControlName="address">
								<mat-hint>
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.ADDRESS' | translate},
										  control: companyDataForm.controls['address']
										}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.ADDRESS' | translate , min:3},
										  control: companyDataForm.controls['address']
										}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.ADDRESS' | translate , max:100},
											control: companyDataForm.controls['address']
										 }"></ng-container>
								</mat-hint>
							</mat-form-field>
	
						</div>
	
						<div class="col-md-4 d-flex justify-content-center align-items-center">
							<p> <span class="mx-2 fontForInputs"> {{'HR.INPUTS.ISACTIVE' | translate}} </span>
								<mat-checkbox name="isActive" formControlName="isActive"></mat-checkbox>
							</p>
						</div>
					</div>
	
				</div>
	
			
				<br><br><br><br>
	
	
	
	
				<h1>
					بيانات تواصل الشركة
				</h1>
	
				<div class="col-md-12">
	
						<div class="row mt-5">
	
							<div class="col-md-4" *ngIf="isEdit==false">
								<mat-form-field appearance="outline">
									<mat-label> {{'HR.INPUTS.MANAGERNAME' | translate}}</mat-label>
									<input matInput placeholder="Placeholder" name="managerName"
										formControlName="managerName">
									<mat-hint>
										<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.MANAGERNAME' | translate},
										  control: companyDataForm.controls['managerName']
										}"></ng-container>
	
										<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.MANAGERNAME' | translate , min:3},
										  control: companyDataForm.controls['managerName']
										}"></ng-container>
	
										<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.MANAGERNAME' | translate , max:100},
											control: companyDataForm.controls['managerName']
										 }"></ng-container>
									</mat-hint>
								</mat-form-field>
							</div>
	
	
							<div class="col-md-4" *ngIf="isEdit==false">
								<mat-form-field appearance="outline">
									<mat-label>{{'HR.INPUTS.MANAGERPOSITION' | translate}}</mat-label>
									<input matInput placeholder="Placeholder" name="managerPosition"
										formControlName="managerPosition">
									<mat-hint>
										<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.MANAGERPOSITION' | translate},
										  control: companyDataForm.controls['managerPosition']
										}"></ng-container>
	
										<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.MANAGERPOSITION' | translate , min:3},
										  control: companyDataForm.controls['managerPosition']
										}"></ng-container>
	
										<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.MANAGERPOSITION' | translate , max:100},
											control: companyDataForm.controls['managerPosition']
										 }"></ng-container>
									</mat-hint>
								</mat-form-field>
							</div>
	
	
							<div class="col-md-4">
								<mat-form-field appearance="outline">
									<mat-label>{{'HR.INPUTS.EMAIL' | translate}}</mat-label>
									<input matInput placeholder="Placeholder" name="email" formControlName="email">
									<mat-hint>
										<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.EMAIL' | translate},
										  control: companyDataForm.controls['email']
										}"></ng-container>
	
										<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'pattern',
											message: 'AUTH.VALIDATION.INVALID' | translate : {name:'HR.INPUTS.EMAIL' | translate},
											control: companyDataForm.controls['email']
										  }"></ng-container>
	
									</mat-hint>
	
								</mat-form-field>
							</div>
	
							<div class="col-md-4">
								<mat-form-field appearance="outline">
									<mat-label> {{'HR.INPUTS.PHONENUM' | translate}}</mat-label>
									<input matInput placeholder="01147785..." name="phoneNumber"
										formControlName="phoneNumber">
									<mat-hint>
										<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.PHONENUM' | translate},
										  control: companyDataForm.controls['phoneNumber']
										}"></ng-container>
	
										<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.PHONENUM' | translate , min:3},
										  control: companyDataForm.controls['phoneNumber']
										}"></ng-container>
	
										<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.PHONENUM' | translate , max:20},
											control: companyDataForm.controls['phoneNumber']
										 }"></ng-container>
	
										<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'pattern',
											message: 'AUTH.VALIDATION.INVALID' | translate : {name:'HR.INPUTS.PHONENUM' | translate},
											control: companyDataForm.controls['phoneNumber']
										  }"></ng-container>
	
									</mat-hint>
	
								</mat-form-field>
							</div>
	
							<div class="col-md-4" *ngIf="isEdit">
	
								<div class="row mt-2">
									<div class="col-md-3">
										<label class="fontForInputs mt-5"> {{'HR.INPUTS.EMPLOYEE' | translate}} </label>
									</div>
	
									<div class="col-md-9">
	
										<ng-multiselect-dropdown class="mt-5" [settings]="dropdownSettings"
											[data]="dropdownListDataForEmployee" name="employee_Id"
											formControlName="employee_Id" (onSelect)="onItemSelectState($event)">
										</ng-multiselect-dropdown>
	
									</div>
								</div>
							</div>
	
						</div>
	
					</div>
	
	
				
				<h1>
					البيانات الضريبية
				</h1>
			
					<div class="row  mt-5">
	
						<div class="col-md-4">
							<mat-form-field appearance="outline">
								<mat-label>{{'HR.INPUTS.COMMERCIALRECORD' | translate}} </mat-label>
								<input matInput placeholder="Placeholder" name="commercialRecord"
									formControlName="commercialRecord">
								<mat-hint>
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									  validation: 'required',
									  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.COMMERCIALRECORD' | translate},
									  control: companyDataForm.controls['commercialRecord']
									}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									  validation: 'minlength',
									  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.COMMERCIALRECORD' | translate , min:3},
									  control: companyDataForm.controls['commercialRecord']
									}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'maxlength',
										message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.COMMERCIALRECORD' | translate , max:50},
										control: companyDataForm.controls['commercialRecord']
									 }"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'pattern',
										message: 'AUTH.VALIDATION.INVALID' | translate : {name:'HR.INPUTS.COMMERCIALRECORD' | translate},
										control: companyDataForm.controls['commercialRecord']
									  }"></ng-container>
	
								</mat-hint>
	
							</mat-form-field>
						</div>
	
						<div class="col-md-4">
							<mat-form-field appearance="outline">
								<mat-label>{{'HR.INPUTS.TAXCARDNO' | translate}} </mat-label>
								<input matInput type="number" placeholder="Placeholder" name="taxCardNo"
									formControlName="taxCardNo">
								<mat-hint>
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									  validation: 'required',
									  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.TAXCARDNO' | translate},
									  control: companyDataForm.controls['taxCardNo']
									}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									  validation: 'minlength',
									  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.TAXCARDNO' | translate , min:3},
									  control: companyDataForm.controls['taxCardNo']
									}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'maxlength',
										message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.TAXCARDNO' | translate , max:50},
										control: companyDataForm.controls['taxCardNo']
									 }"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'pattern',
										message: 'AUTH.VALIDATION.INVALID' | translate : {name:'HR.INPUTS.TAXCARDNO' | translate},
										control: companyDataForm.controls['taxCardNo']
									  }"></ng-container>
	
								</mat-hint>
	
							</mat-form-field>
						</div>
	
	
						<div class="col-md-3 d-flex justify-content-center align-items-center">
							<section class="example-section">
								<span class="mx-2 fontForInputs">{{'HR.INPUTS.HASDIRECTIONTRANSFERFORSTOCKS' | translate}}
								</span>
								<mat-slide-toggle name="hasDirectTransferForStocks"
									formControlName="hasDirectTransferForStocks" class="example-margin" [color]="'red'">
	
								</mat-slide-toggle>
							</section>
						</div>
	
						<div class="col-md-2 d-flex justify-content-center align-items-center">
							<section class="example-section">
								<span class="mx-2 fontForInputs"> {{'HR.INPUTS.WTAX' | translate}} </span>
								<mat-slide-toggle name="isWTaxActive" formControlName="isWTaxActive" class="example-margin"
									[color]="'red'">
								</mat-slide-toggle>
							</section>
						</div>
	
	
						<div class="col-md-2" *ngIf="companyDataForm.controls['isWTaxActive'].value">
							<mat-form-field appearance="outline">
								<mat-label>{{'HR.INPUTS.WTAX' | translate}} </mat-label>
								<input matInput type="number" placeholder="Placeholder" name="wTax" formControlName="wTax">
								<mat-hint>
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'pattern',
										message: 'AUTH.VALIDATION.INVALID' | translate : {name:'HR.INPUTS.WTAX' | translate},
										control: companyDataForm.controls['wTax']
									  }"></ng-container>
	
								</mat-hint>
							</mat-form-field>
						</div>
	
	
						<div class="col-md-2 d-flex justify-content-center align-items-center">
							<section class="example-section">
								<span class="mx-2 fontForInputs"> {{'HR.INPUTS.VATTAX' | translate}}</span>
								<mat-slide-toggle name="isValTaxActive" formControlName="isValTaxActive"
									class="example-margin" [color]="'red'">
								</mat-slide-toggle>
							</section>
						</div>
	
						<div class="col-md-2" *ngIf="companyDataForm.controls['isValTaxActive'].value">
							<mat-form-field appearance="outline">
								<mat-label>{{'HR.INPUTS.VATTAX' | translate}} </mat-label>
								<input matInput type="number" placeholder="Placeholder" name="vatTax"
									formControlName="vatTax">
								<mat-hint>
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									  validation: 'required',
									  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.VATTAX' | translate},
									  control: companyDataForm.controls['vatTax']
									}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									  validation: 'minlength',
									  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.VATTAX' | translate , min:3},
									  control: companyDataForm.controls['vatTax']
									}"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'maxlength',
										message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.VATTAX' | translate , max:50},
										control: companyDataForm.controls['vatTax']
									 }"></ng-container>
	
									<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'pattern',
										message: 'AUTH.VALIDATION.INVALID' | translate : {name:'HR.INPUTS.VATTAX' | translate},
										control: companyDataForm.controls['vatTax']
									  }"></ng-container>
	
								</mat-hint>
							</mat-form-field>
						</div>
	
					</div>
	
					
				</form>
	
	
	
	</mat-dialog-content>
	
		<mat-dialog-actions>
			<div class="d-flex">
				<button mat-raised-button type="submit" (click)="saveButtonClickedFlag = true" color="primary">حفظ</button>
				<button mat-button [mat-dialog-close]="true" cdkFocusInitial>close</button>
			</div>
		</mat-dialog-actions>
	
	<ng-template #formError let-control="control" let-message="message" let-validation="validation">
		<ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
			<div class="fv-plugins-message-container">
				<span role="alert">
					{{ message }}
				</span>
			</div>
		</ng-container>
	</ng-template>