<h2 mat-dialog-title>

	<div class="d-flex justify-content-between align-items-center">

		<span class="fontsection">{{'HR.TITLES.COMPANYDATA1'|translate}} </span>
		<button class="col-md-1" mat-button [mat-dialog-close]="true" cdkFocusInitial>
			<mat-icon>close</mat-icon>
		</button>

	</div>

</h2>


<mat-divider></mat-divider>

<form [formGroup]="EmployeeDataForm" (ngSubmit)="Submit(EmployeeDataForm.value)">

	<mat-dialog-content style="z-index: -1;" class="mat-typography">

		<br>
		<br>

		<div class="d-flex justify-content-start align-content-center">
			<mat-icon class="text-primary">home</mat-icon>
			<h1 class="fontsection text-primary fs-2 fw-bolder me-1 cursor-pointer">
				بيانات شخصية
			</h1>

			<div class="d-flex" *ngIf="isEdit==false">

				<span class=" mx-10">
					<label class="fontForInputs"> صورة الموظف </label>
					<input type="file" class="mx-2" (change)="ImageChange($event)" placeholder="Placeholder"
						name="Image" formControlName="Image">
					<mat-hint>
						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.LOGOPRINT' | translate},
										  control: EmployeeDataForm.controls['Image']
										}"></ng-container>
					</mat-hint>
				</span>


			</div>

		</div>

		<div class="mb-5 border-bottom">
		</div>


		<input type="hidden" name="id" formControlName="id">
		<input type="hidden" name="Branch_Id" formControlName="Branch_Id">
		<input type="hidden" name="IsTechnician" formControlName="IsTechnician">

		<div class="col-md-12">


			<div class="row  mt-5">
				<div class="col-md-4">

					<mat-form-field appearance="outline">
						<mat-label> الاسم </mat-label>
						<input matInput placeholder="Placeholder" name="Name" formControlName="Name">
						<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'الاسم مطلوب',
										  control: EmployeeDataForm.controls['Name']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'اقل عدد حروف 6',
										  control: EmployeeDataForm.controls['Name']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'اقصى عدد حروف 100',
											control: EmployeeDataForm.controls['Name']
										 }"></ng-container>
						</mat-hint>
					</mat-form-field>

				</div>
				<div class="col-md-4">

					<mat-form-field appearance="outline">
						<mat-label> {{"HR.INPUTS.CODE" | translate}} </mat-label>
						<input matInput placeholder="Placeholder" name="Code" formControlName="Code">
						<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.CODE' | translate},
										  control: EmployeeDataForm.controls['Code']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'اقل عدد حروف 3',
										  control: EmployeeDataForm.controls['Code']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'اقصى عدد حروف 100',
											control: EmployeeDataForm.controls['Code']
										 }"></ng-container>
						</mat-hint>
					</mat-form-field>

				</div>
				<div class="col-md-4">

					<mat-form-field appearance="outline">
						<mat-label> العنوان </mat-label>
						<input matInput placeholder="Placeholder" name="Address" formControlName="Address">
						<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'العنوان مطلوب',
										  										  control: EmployeeDataForm.controls['Address']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'اقل عدد حروف 3',				
										  						  control: EmployeeDataForm.controls['Address']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'اقصى عدد حروف 100',
																						control: EmployeeDataForm.controls['Address']
										 }"></ng-container>
						</mat-hint>
					</mat-form-field>

				</div>

				<div class="col-md-4">

					<ng-select class="customized" [items]="dropdownListDataForState" bindLabel="Name" bindValue="Id"
						name="state_Id" formControlName="state_Id" (change)="onItemSelectState($event)"
						placeholder="{{'HR.INPUTS.STATE' | translate}}">
					</ng-select>

				</div>

				<div class="col-md-4">

					<ng-select class="customized" [items]="dropdownListDataForRegion" bindLabel="Name" bindValue="Id"
						name="Region_Id" id="Region_Id" formControlName="Region_Id"
						placeholder="{{'HR.INPUTS.REGION' | translate}}">
					</ng-select>

					<mat-hint>
						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'required',
											  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.REGION' | translate},
											  control: EmployeeDataForm.controls['Region_Id']
											}"></ng-container>

					</mat-hint>

				</div>

				<div class="col-md-4">
					<mat-form-field style="width:100%" color="accent" appearance="outline">
						<mat-label> تاريخ الميلاد </mat-label>
						<input matInput [matDatepicker]="picker1" formControlName="BirthDate">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
						<mat-hint>
							<!--	<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
								  validation: 'required',
								  message: 'التاريخ ',
								  control: EmployeeDataForm.controls['BirthDate']
								}"></ng-container>-->
						</mat-hint>
					</mat-form-field>

				</div>

				<div class="col-md-4">

					<mat-form-field appearance="outline">
						<mat-label> الرقم القومى </mat-label>
						<input matInput minlength="14" maxlength="14" placeholder="Placeholder" name="NId" formControlName="NId">
						<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'الرقم القومى  مطلوب',
										  control: EmployeeDataForm.controls['NId']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'اقل عدد حروف 14',
							    		  control: EmployeeDataForm.controls['NId']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'اقصى عدد حروف 14',
											control: EmployeeDataForm.controls['NId']
										 }"></ng-container>
						</mat-hint>
					</mat-form-field>

				</div>

				<div class="col-md-4">
					<mat-form-field appearance="outline">
						<mat-label> {{'HR.INPUTS.PHONENUM' | translate}}</mat-label>
						<input matInput placeholder="01147785..." minlength="3" maxlength="11" name="Mobile"
							formControlName="Mobile">
						<mat-hint>
							<!--	<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.PHONENUM' | translate},
										  control: EmployeeDataForm.controls['Mobile']
										}"></ng-container>-->

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.PHONENUM' | translate , min:3},
										  control: EmployeeDataForm.controls['Mobile']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.PHONENUM' | translate , max:11},
											control: EmployeeDataForm.controls['Mobile']
										 }"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'pattern',
											message: 'AUTH.VALIDATION.INVALID' | translate : {name:'HR.INPUTS.PHONENUM' | translate},
											control: EmployeeDataForm.controls['Mobile']
										  }"></ng-container>

						</mat-hint>

					</mat-form-field>
				</div>

				<div class="col-md-4">

					<ng-select class="customized" [items]="dropdownListDataForMilitary" bindLabel="Name" bindValue="Id"
						name="MilitaryStatus_Id" id="MilitaryStatus_Id" formControlName="MilitaryStatus_Id"
						placeholder="موقف التجنيد">
					</ng-select>

					<mat-hint>
						<!--<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'required',
											  message: 'موقف التجنيد  مطلوب',
								    		  control: EmployeeDataForm.controls['MilitaryStatus_Id']
											}"></ng-container>-->

					</mat-hint>

				</div>

				<div class="col-md-4">

					<ng-select class="customized" [items]="dropdownListDataForMarital" bindLabel="Name" bindValue="Id"
						name="MartialStatus_Id" id="MartialStatus_Id" formControlName="MartialStatus_Id"
						placeholder="الحالة الاجتماعية">
					</ng-select>

					<mat-hint>
						<!--	<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'required',
											  message: 'الحالة الاجتماعية مطلوب',
											  control: EmployeeDataForm.controls['MartialStatus_Id']
											}"></ng-container>-->

					</mat-hint>

				</div>

			</div>

		</div>

		<br>

		<div class="d-flex justify-content-start align-content-center">
			<mat-icon class="text-primary">perm_phone_msg</mat-icon>
			<h1 class="fontsection text-primary fs-2 fw-bolder me-1 cursor-pointer">
				بيانات المؤهل والوظيفة
			</h1>
		</div>

		<div class="mb-5 border-bottom">
		</div>

		<div class="col-md-12">

			<div class="row mt-5">

				<div class="col-md-4">

					<mat-form-field appearance="outline">
						<mat-label> الجامعة </mat-label>
						<input matInput placeholder="Placeholder" name="University" formControlName="University">
						<mat-hint>
							<!--	<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'الجامعة مطلوب',			
										  control: EmployeeDataForm.controls['University']
										}"></ng-container>
-->
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'اقل عدد حروف 3',
										  control: EmployeeDataForm.controls['University']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'اقصى عدد حروف 100',
											control: EmployeeDataForm.controls['University']
										 }"></ng-container>
						</mat-hint>
					</mat-form-field>

				</div>

				<div class="col-md-4">

					<mat-form-field appearance="outline">
						<mat-label> المؤهل </mat-label>
						<input matInput placeholder="Placeholder" name="Qualification" formControlName="Qualification">
						<mat-hint>
							<!--<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'المؤهل مطلوب',			
										  control: EmployeeDataForm.controls['Qualification']
										}"></ng-container>-->

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'اقل عدد حروف 3',
										  control: EmployeeDataForm.controls['Qualification']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'اقصى عدد حروف 100',
											control: EmployeeDataForm.controls['Qualification']
										 }"></ng-container>
						</mat-hint>
					</mat-form-field>

				</div>

				<div class="col-md-4">
					<mat-form-field style="width:100%" color="accent" appearance="outline">
						<mat-label> تاريخ التخرج </mat-label>
						<input matInput [matDatepicker]="picker3" formControlName="GraduateDate">
						<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
						<mat-datepicker #picker3></mat-datepicker>
						<mat-hint>
							<!--<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
								  validation: 'required',
								  message: 'التاريخ ',
								  control: EmployeeDataForm.controls['GraduateDate']
								}"></ng-container>-->
						</mat-hint>
					</mat-form-field>

				</div>

				<div class="col-md-4">
					<mat-form-field style="width:100%" color="accent" appearance="outline">
						<mat-label> تاريخ التعيين </mat-label>
						<input matInput [matDatepicker]="picker2" formControlName="HireDate">
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2></mat-datepicker>
						<mat-hint>
							<!--<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
								  validation: 'required',
								  message: 'التاريخ ',
								  control: EmployeeDataForm.controls['HireDate']
								}"></ng-container>-->
						</mat-hint>
					</mat-form-field>

				</div>

				<div class="col-md-4">
					<mat-form-field appearance="outline">
						<mat-label>{{'HR.INPUTS.EMAIL' | translate}}</mat-label>
						<input matInput placeholder="Placeholder" name="Email" formControlName="Email">
						<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.EMAIL' | translate},
										  control: EmployeeDataForm.controls['Email']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'pattern',
											message: 'AUTH.VALIDATION.INVALID' | translate : {name:'HR.INPUTS.EMAIL' | translate},
											control: EmployeeDataForm.controls['Email']
										  }"></ng-container>

						</mat-hint>

					</mat-form-field>
				</div>

				<div class="col-md-4">

					<ng-select class="customized" [items]="dropdownListDataForDepartment" bindLabel="Name"
						bindValue="Id" name="Department_Id" formControlName="Department_Id"
						(change)="onItemSelectDepartment($event)" placeholder="الادارة">
					</ng-select>

				</div>


				<div class="col-md-4">

					<ng-select class="customized" [items]="dropdownListDataForSecion" bindLabel="Name" bindValue="Id"
						name="Section_Id" formControlName="Section_Id" (change)="onItemSelectSection($event)"
						placeholder="القسم">
					</ng-select>

				</div>


				<div class="col-md-4">

					<ng-select class="customized" [items]="dropdownListDataForJobs" bindLabel="Name" bindValue="Id"
						name="JobSection_Id" formControlName="JobSection_Id" placeholder="الوظيفة">
					</ng-select>
					<mat-hint>
						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'required',
											  message: 'الوظيفة مطلوب',			
											  control: EmployeeDataForm.controls['JobSection_Id']
											}"></ng-container>

					</mat-hint>
				</div>

				<div class="col-md-4">

					<ng-select class="customized" [items]="dropdownListDataForStatus" bindLabel="Name" bindValue="Id"
						name="Status_Id" formControlName="Status_Id" placeholder="الحالة">
					</ng-select>

				</div>


			</div>
			<br>
			<br><br><br>
			<br>
<br><br><br>
<br>
<br><br><br>
		</div>



	</mat-dialog-content>

	<mat-dialog-actions>
		<div class="d-flex">
			<button mat-raised-button type="submit" (click)="saveButtonClickedFlag = true"
				color="primary">{{'HR.BUTTONS.SAVE'|translate}}</button>
			<button mat-button [mat-dialog-close]="true" id="closeme" cdkFocusInitial>{{'HR.BUTTONS.CLOSE'|translate}}</button>
		</div>
	</mat-dialog-actions>
</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
	<ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
		<div class="fv-plugins-message-container">
			<span role="alert">
				{{ message }}
			</span>
		</div>
	</ng-container>
</ng-template>