<mat-card class="col-md-12">
	<div class="d-flex align-items-center">

		<div class="d-flex align-items-center">
			<mat-icon class="text-primary mx-5" style="font-size:30px ;">assignment_ind</mat-icon>

			<span class="fontsection"> بيانات الموظف
			</span>

		</div>


		<div class="row" style="margin-right: 160px;">

			<ng-select #employeeselect class="customized" style="width:250px ;" [items]="dropdownEmployeeData"
				bindLabel="Name" bindValue="Id" name="region_Id" id="region_Id" placeholder="اختر الموظف"
				(change)="employeeSelectListOnChange($event)">
			</ng-select>

			<ng-select class="customized" style="width:250px ;" [items]="dropdownBranchData" bindLabel="Name"
				bindValue="Id" name="region_Id" id="region_Id" placeholder="اختر الفرع"
				(change)="branchSelectListOnChange($event);blockselect.handleClearClick();areaselect.handleClearClick();employeeselect.handleClearClick();"
				(clear)="clearBranches();blockselect.handleClearClick();areaselect.handleClearClick();employeeselect.handleClearClick();clearBranches()">
			</ng-select>
			<ng-select #areaselect class="customized" style="width:250px ;" [items]="dropdownAreaData" bindLabel="Name"
				bindValue="Id" name="region_Id" id="region_Id" placeholder="اختر المنطقة"
				(change)="areaSelectListOnChange($event);blockselect.handleClearClick();employeeselect.handleClearClick();"
				(clear)="clearArea();blockselect.handleClearClick();employeeselect.handleClearClick();">
			</ng-select>
			<ng-select #blockselect class="customized" style="width:250px ;" [items]="dropdownBlockData"
				bindLabel="Name" bindValue="Id" name="region_Id" id="region_Id" placeholder="اختر المربع"
				(change)="blockSelectListOnChange($event);employeeselect.handleClearClick();"
				(clear)="clearBlocks();employeeselect.handleClearClick();">
			</ng-select>

		</div>

	</div>

</mat-card>
<!--begin::Container-->

<!--begin::Layout-->
<div class="d-flex flex-column flex-xl-row mt-5">
	<!--begin::Sidebar-->
	<div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">
		<!--begin::Card-->
		<div class="card mb-5 mb-xl-8">
			<!--begin::Card body-->
			<div class="card-body pt-5">
				<!--begin::Summary-->
				<div class="d-flex flex-center flex-column mb-5">
					<!--begin::Avatar-->
					<div class="symbol symbol-150px symbol-circle mb-4">
						<img src="../../../assets/media/svg/avatars/001-boy.svg" alt="image" />
					</div>
					<!--end::Avatar-->
					<!--begin::Name-->
					<a *ngIf="employeeDisplay.id > 0"
						title="get data from endpoint:/api/v1/hr/getemployeeprofileinfo , when click name open edit employee profile"
						class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-1">{{employeeDisplay.employeeName}}</a>
					<!--end::Name-->

					<span *ngIf="employeeDisplay.id > 0">
						<a *ngIf="employeeDisplay.userIsActive == true; else inActive"
							class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
							data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
							{{'HR.TITLES.COMPANYACTIVE'|translate}}
						</a>

						<ng-template #inActive>
							<a class="btn btn-sm btn-light-danger fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
								data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
								{{'HR.TITLES.COMPANYNOTACTIVE'|translate}}
							</a>
						</ng-template>
					</span>


				</div>
				<div class="d-flex flex-start flex-column" *ngIf="employeeDisplay.id > 0">

					<div class="d-flex flex-stack fw-bold fs-6 mb-2 pe-2">
						<a class="
                                  d-flex
                                  align-items-start
                                  text-gray-400 text-hover-primary
                                  mb-2
                                  cursor-pointer
                                ">
							<span [inlineSVG]="
                                    './assets/media/icons/duotune/communication/com006.svg'
                                  " class="svg-icon svg-icon-4 me-1"></span>
							{{employeeDisplay.employeeJob}}
						</a>
						<div class="badge badge-light-info d-inline" *ngIf="employeeDisplay.isTechnician == true"> فنى
						</div>
						<!--begin::Badge-->
					</div>


				</div>
				<!--end::Summary-->

				<div class="separator separator-dashed my-3" *ngIf="employeeDisplay.id > 0"></div>
				<!--begin::Details content-->
				<div class="pb-5 fs-6" *ngIf="employeeDisplay.id > 0">
					<!--begin::Details item-->

					<!--begin::Details item-->
					<div class="fw-bolder mt-5"> تفاصيل الوظيفة </div>
					<div class="text-gray-600">
						<a class="text-gray-600 text-hover-primary">{{employeeDisplay.employeeJob}} ,
							{{employeeDisplay.branchName}} </a>
					</div>


					<!--begin::Details item-->
					<!--begin::Details item-->
					<!--begin::Details item-->
				</div>
				<div *ngIf="employeeDisplay.isTechnician && employeeDisplay.id > 0">

					<div class="d-flex flex-stack fs-4 py-3">
						<div class="fw-bolder"> فنى </div>
						<!--begin::Badge-->
						<div class="badge badge-light-info d-inline"><a id="" data-bs-toggle="modal"
								title="/v1/tech/getlastrecordtechnician" data-bs-target="#kt_modal_offer_a_deal"
								class="btn btn-sm btn-primary cursor-pointer" (click)="openDialog()"> تعديل بيانات الفنى
							</a></div>
						<!--begin::Badge-->
					</div>
					<!--end::Details toggle-->
					<div class="separator separator-dashed my-3"></div>
					<!--begin::Details content-->
					<div class="pb-5 fs-6">
						<!--begin::Details item-->
						<div class="fw-bolder mt-5">تحصيل فواتير
							<a *ngIf="employeeDisplay.technician.canCollect == true; else inActiveForCanCollect"
								class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
								data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
								مفعل
							</a>

							<ng-template #inActiveForCanCollect>
								<a class="btn btn-sm btn-light-danger fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
									data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
									غير مفعل
								</a>
							</ng-template>
						</div>



						<!--begin::Details item-->
						<!--begin::Details item-->
						<div class="fw-bolder mt-5">تسجيل قراءه
							<a *ngIf="employeeDisplay.technician.canRead == true; else inActiveForCanRead"
								class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
								data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
								مفعل
							</a>

							<ng-template #inActiveForCanRead>
								<a class="btn btn-sm btn-light-danger fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
									data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
									غير مفعل
								</a>
							</ng-template>
						</div>

						<!--begin::Details item-->


						<!--begin::Details item-->
						<div class="fw-bolder mt-5">اضافة بلاغ
							<a *ngIf="employeeDisplay.technician.canComplain == true; else inActiveForCanComplain"
								class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
								data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
								مفعل
							</a>

							<ng-template #inActiveForCanComplain>
								<a class="btn btn-sm btn-light-danger fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
									data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
									غير مفعل
								</a>
							</ng-template>
						</div>

						<!--begin::Details item-->



						<!--begin::Details item-->
						<div class="fw-bolder mt-5">تعديل بيانات عميل
							<a *ngIf="employeeDisplay.technician.canEditCustomer == true; else inActiveForCanEditCustomer"
								class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
								data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
								مفعل
							</a>

							<ng-template #inActiveForCanEditCustomer>
								<a class="btn btn-sm btn-light-danger fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
									data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
									غير مفعل
								</a>
							</ng-template>
						</div>

						<!--begin::Details item-->

						<!--begin::Details item-->
						<div class="fw-bolder mt-5">ارفاق صوره قراءه العداد
							<a *ngIf="employeeDisplay.technician.attachImageRead == true; else inActiveForAttachImageRead"
								class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
								data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
								مفعل
							</a>

							<ng-template #inActiveForAttachImageRead>
								<a class="btn btn-sm btn-light-danger fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
									data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
									غير مفعل
								</a>
							</ng-template>
						</div>

						<!--begin::Details item-->


						<!--begin::Details item-->
						<div class="fw-bolder mt-5">ارفاق صوره لتعديلات اعملاء
							<a *ngIf="employeeDisplay.technician.attachImageEditCustomer == true; else inActiveForAttachImageEditCustomer"
								class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
								data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
								مفعل
							</a>

							<ng-template #inActiveForAttachImageEditCustomer>
								<a class="btn btn-sm btn-light-danger fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
									data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
									غير مفعل
								</a>
							</ng-template>
						</div>

						<!--begin::Details item-->


						<!--begin::Details item-->

						<div class="fw-bolder mt-5"> (ساعة) الحد الاقصي للعمل بدون شبكة</div>
						<span>{{employeeDisplay.technician.maxOfflineWorkingHours}}</span>

						<!--begin::Details item-->

						<!--begin::Details item-->

						<div class="fw-bolder mt-5"> (بالفاتورة) الحد الاقصي لعدد الفواتير المسجلة بدون شبكة</div>
						<span>{{employeeDisplay.technician.maxOfflineWorkingBills}}</span>

						<!--begin::Details item-->

						<!--begin::Details item-->

						<!--begin::Details item-->
					</div>

				</div>

				<!--end::Details content-->
			</div>
			<!--end::Card body-->
		</div>
		<!--end::Card-->
	</div>
	<!--end::Sidebar-->
	<!--begin::Content-->



	<div class="flex-lg-row-fluid justify-content-between ms-lg-5">
		<div class="alert fontForInputs alert-danger" *ngIf="!employeeDisplay.id"> برجاء اختيار الموظف </div>
		<!--begin:::Tabs-->
		<div class="row">

			<div class="col-md-10">
				<mat-tab-group *ngIf="employeeDisplay.id > 0">

					<mat-tab>
						<ng-template mat-tab-label>
							<a class="nav-link text-hover-primary me-6 fontForInputs"
								style="color:rgb(71, 71, 71); font-weight: bold;"
								[routerLink]="['/employee/employeeprofile/customercomplains/', employeeDisplay.id ]"
								routerLinkActive="text-primary">
								<mat-icon>receipt</mat-icon>

								الشكاوى
							</a>
						</ng-template>
					</mat-tab>

					<mat-tab>
						<ng-template mat-tab-label>
							<a class="nav-link text-hover-primary me-6 fontForInputs"
								style="color:rgb(71, 71, 71); font-weight: bold;"
								[routerLink]="['/employee/employeeprofile/customerReading/', employeeDisplay.id ]"
								routerLinkActive="text-primary">
								<mat-icon>visibility</mat-icon>

								القراءات
							</a>
						</ng-template>
					</mat-tab>

					<mat-tab style="width:250px !important;">
						<ng-template mat-tab-label>
							<a class="nav-link text-hover-primary me-6 fontForInputs"
								style="color:rgb(71, 71, 71); font-weight: bold;"
								[routerLink]="['/employee/employeeprofile/updateRequest/', employeeDisplay.id ]"
								routerLinkActive="text-primary">
								<mat-icon>format_list_numbered</mat-icon>

								<span>طلب التعديل</span>
							</a>
						</ng-template>
					</mat-tab>

					<mat-tab>
						<ng-template mat-tab-label>
							<a class="nav-link text-hover-primary me-6 fontForInputs"
								style="color:rgb(71, 71, 71); font-weight: bold;"
								[routerLink]="['/employee/employeeprofile/technicianlog/', employeeDisplay.id ]"
								routerLinkActive="text-primary">
								<mat-icon> local_dining</mat-icon>

								البيانات الفنية
							</a>
						</ng-template>
					</mat-tab>

					<mat-tab>
						<ng-template mat-tab-label>
							<a class="nav-link text-hover-primary me-6 fontForInputs"
								style="color:rgb(71, 71, 71); font-weight: bold;"
								[routerLink]="['/employee/employeeprofile/bills/', employeeDisplay.id ]"
								routerLinkActive="text-primary">
								<mat-icon> money</mat-icon>
								التحصيلات
							</a>
						</ng-template>
					</mat-tab>

					<mat-tab>
						<ng-template mat-tab-label>
							<a class="nav-link text-hover-primary me-6 fontForInputs"
								style="color:rgb(71, 71, 71); font-weight: bold;" id="blocksdisplay"
								[routerLink]="['/employee/employeeprofile/employeeblocks',employeeDisplay.blocks]"
								[state]="employeeDisplay.blocks" routerLinkActive="text-primary">
								<mat-icon> person_pin_circle</mat-icon>

								المربعات
							</a>
						</ng-template>
					</mat-tab>

					<mat-tab style="width:250px !important;">
						<ng-template mat-tab-label>
							<a class="nav-link text-hover-primary me-6 fontForInputs"
								style="color:rgb(71, 71, 71); font-weight: bold;"
								[routerLink]="['/employee/employeeprofile/userlocation/', employeeDisplay.id ]"
								routerLinkActive="text-primary">
								<mat-icon>location_on</mat-icon>

								<span> الموقع </span>
							</a>
						</ng-template>
					</mat-tab>

				</mat-tab-group>
			</div>


			<div class="col-md-2 mt-5">
				<span *ngIf="employeeDisplay.id > 0">
					<a data-bs-toggle="modal" data-bs-target="#kt_modal_offer_a_deal">

					</a>
					<a class="btn btn-sm btn-primary me-3 cursor-pointer" data-kt-menu-trigger="click"
						data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
						اعدادات الملف
						<i class="bi bi-gear-fill fs-3"></i>
					</a>
					<app-setting (emitForActiveProp)="editActiveProp($event)"
						(emitter)="editEmployeeTechnicialData($event)" [_Employee]="employeeDisplay">
					</app-setting>
				</span>
			</div>

		</div>






		<br>

		<!--end:::Tabs-->
		<!--begin:::Tab content-->
		<router-outlet class="col-md-6" *ngIf="employeeDisplay.id > 0"></router-outlet>
		<!--end:::Tab content-->
	</div>


	<!--end::Content-->
</div>