<div style="width:700px">

	<h2 mat-dialog-title>

		<div class="d-flex justify-content-between align-items-center">

			<span class="fontsection"> اضافة مصروف سيارة
			</span>
			<button class="col-md-1" mat-button [mat-dialog-close]="true" cdkFocusInitial>
				<mat-icon>close</mat-icon>
			</button>

		</div>

	</h2>


	<mat-divider></mat-divider>

	<form [formGroup]="expenseTransactionDataForm" (ngSubmit)="Submit(expenseTransactionDataForm.value)">

		<mat-dialog-content style="z-index: -1;" class="mat-typography">

			<br>
			<br>

			<div class="col-md-12">




				<div class="row mt-5">

					<ng-select style="width: 250px;" class="customized" [items]="dropdownFinancialYearData"
						formControlName="FinancialYearId" bindLabel="Name" bindValue="Id" name="FinancialYearId"
						placeholder="السنة المالية">
					</ng-select>

					<ng-select style="width: 250px;" class="customized" [items]="dropdownBillTypeData"
						formControlName="BillTypeId" bindLabel="Name" bindValue="Id" name="BillTypeId"
						placeholder="نوع الفاتوره">
					</ng-select>

					<ng-select style="width: 250px;" class="customized" [items]="dropdownEmloyeeTypeData"
						formControlName="EmployeeId" bindLabel="Name" bindValue="Id" name="EmployeeId"
						placeholder="الموظف">
					</ng-select>



				</div>


				<div class="row">

					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label> القيمة </mat-label>
							<input matInput placeholder="Placeholder" name="ExpenseValue"
								formControlName="ExpenseValue">
							<mat-hint>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
												validation: 'pattern',
												message: 'القيمة تحتوي حروف' ,
												control: expenseTransactionDataForm.controls['ExpenseValue']
											  }"></ng-container>

							</mat-hint>
						</mat-form-field>
					</div>

				</div>


			</div>


			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


		</mat-dialog-content>


		<mat-dialog-actions>
			<div class="d-flex">
				<button mat-raised-button type="submit" (click)="saveButtonClickedFlag = true"
					color="primary">{{'HR.BUTTONS.SAVE'|translate}}</button>
				<button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{'HR.BUTTONS.CLOSE'|translate}}</button>
			</div>
		</mat-dialog-actions>
	</form>

	<ng-template #formError let-control="control" let-message="message" let-validation="validation">
		<ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
			<div class="fv-plugins-message-container">
				<span role="alert" class="fontForHints">
					{{ message }}
				</span>
			</div>
		</ng-container>
	</ng-template>
</div>