<div class="card card-flush h-lg-100">
  <div class="card-header d-block border-bottom-2 border">
    <div class="card-title flex-column">
      <h3 class="fontForInputs fs-2 text-gray-600">الطلبات</h3>
    </div>
    <div class="card-toolbar">
      <div class="row mx-0">

        <div class="col-6">
          <mat-form-field color="accent" appearance="outline">
            <mat-label>{{'DECLARATIONS.INPUTS.FROMDATE'|translate}}</mat-label>
            <input matInput [matDatepicker]="startD" [max]="endDate" [(ngModel)]="startDate" (dateChange)="getOrdersByDate()">
            <mat-datepicker-toggle matSuffix [for]="startD"></mat-datepicker-toggle>
            <mat-datepicker #startD></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field color="accent" appearance="outline">
            <mat-label>{{'DECLARATIONS.INPUTS.TODATE'|translate}}</mat-label>
            <input matInput [matDatepicker]="endD" [min]="startDate" [(ngModel)]="endDate" (dateChange)="getOrdersByDate()">
            <mat-datepicker-toggle matSuffix [for]="endD"></mat-datepicker-toggle>
            <mat-datepicker #endD></mat-datepicker>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>

  <div class="card-body p-0">
    <div class="row mx-0">

      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="progress blue">
          <span class="progress-left">
            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
            <span class="progress-bar"></span>
          </span>
          <div class="progress-value">45665565</div>
        </div>
      </div>

      <div class="col-4 mb-3">
        <span class="badge badge-primary text-white fs-6 fw-bold d-flex align-items-center justify-content-between">
          <div>Completed</div>
          <div>45</div>
        </span>
      </div>

      <div class="col-4 mb-3">
        <span class="badge badge-danger text-white fs-6 fw-bold d-flex align-items-center justify-content-between">
          <div>Completed</div>
          <div>45</div>
        </span>
      </div>

      <div class="col-4 mb-3">
        <span class="badge badge-success text-white fs-6 fw-bold d-flex align-items-center justify-content-between">
          <div>Completed</div>
          <div>45</div>
        </span>
      </div>

      <div class="col-4 mb-3">
        <span class="badge badge-info text-white fs-6 fw-bold d-flex align-items-center justify-content-between">
          <div>Completed</div>
          <div>45</div>
        </span>
      </div>

    </div>

  </div>
</div>