
<h2 mat-dialog-title>

  <div class="d-flex justify-content-between align-items-center">

    <span class="fontsection">{{"DECLARATIONS.TITLES.ADDSTOCK"|translate}}</span>
    <button class="col-md-1" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      <mat-icon>close</mat-icon>
    </button>

  </div>

</h2>
<mat-divider></mat-divider>

<form  [formGroup]="stockForm" (ngSubmit)="addStock()">

  <mat-dialog-content style="z-index: -1;" class="mat-typography">
    <div class="row mx-0">
      <div class="col-md-6 mb-3">

        <mat-form-field appearance="outline">
          <mat-label> {{'DECLARATIONS.INPUTS.CODE' | translate}} </mat-label>
          <input matInput placeholder="Placeholder" name="code" formControlName="code">
          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'DECLARATIONS.INPUTS.CODE'  | translate},
                  control: stockForm.controls['code']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'minlength',
                  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.CODE'  | translate , min:3},
                  control: stockForm.controls['code']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.CODE'  | translate , max:100},
                  control: stockForm.controls['code']
                 }"></ng-container>
          </mat-hint>
        </mat-form-field>

      </div>

      <div class="col-md-6 mb-3">

        <mat-form-field appearance="outline">
          <mat-label> {{'DECLARATIONS.INPUTS.STOCKNAME' | translate}} </mat-label>
          <input matInput placeholder="Placeholder" name="name" formControlName="name">
          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'DECLARATIONS.INPUTS.STOCKNAME'  | translate},
                  control: stockForm.controls['name']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'minlength',
                  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.STOCKNAME'  | translate , min:3},
                  control: stockForm.controls['name']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.STOCKNAME'  | translate , max:100},
                  control: stockForm.controls['name']
                 }"></ng-container>
          </mat-hint>
        </mat-form-field>

      </div>

      <div class="col-md-6 mb-3">

        <ng-select appendTo="body" class="customized" [items]="dropdownEmployeeData" bindLabel="Name" bindValue="Id" name="employeeId" id="employeeId"
          placeholder="{{'DECLARATIONS.INPUTS.EMPLOYEE' | translate}}" formControlName="employeeId">
        </ng-select>
        <mat-hint>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'DECLARATIONS.INPUTS.EMPLOYEE' | translate},
                control: stockForm.controls['employeeId']
              }"></ng-container>

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.EMPLOYEE' | translate , min:3},
                control: stockForm.controls['employeeId']
              }"></ng-container>

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.EMPLOYEE' | translate , max:100},
                  control: stockForm.controls['employeeId']
               }"></ng-container>

        </mat-hint>

      </div>

      <div class="col-md-6 mb-3">
        <ng-select appendTo="body" class="customized" [items]="dropdownStockCategoryData" bindLabel="Name" bindValue="Id"
          formControlName="stockCategory_Id" name="stockCategory_Id" id="stockCategory_Id"
          placeholder="{{'DECLARATIONS.INPUTS.STOCKCATEGORY' | translate}}">
        </ng-select>
        <mat-hint>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'DECLARATIONS.INPUTS.STOCKCATEGORY' | translate},
                control: stockForm.controls['stockCategory_Id']
              }"></ng-container>

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.STOCKCATEGORY' | translate , min:3},
                control: stockForm.controls['stockCategory_Id']
              }"></ng-container>

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.STOCKCATEGORY' | translate , max:100},
                  control: stockForm.controls['stockCategory_Id']
               }"></ng-container>

        </mat-hint>
      </div>

      <div class="col-md-12 mb-3">

        <mat-form-field appearance="outline">
          <mat-label> {{'DECLARATIONS.INPUTS.ADDRESS' | translate}} </mat-label>
          <input matInput placeholder="Placeholder" name="address" formControlName="address">
          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'DECLARATIONS.INPUTS.ADDRESS'  | translate},
                  control: stockForm.controls['address']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'minlength',
                  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.ADDRESS'  | translate , min:3},
                  control: stockForm.controls['address']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.ADDRESS'  | translate , max:100},
                  control: stockForm.controls['address']
                 }"></ng-container>
          </mat-hint>
        </mat-form-field>

      </div>
    </div>
  </mat-dialog-content>

 
  <mat-dialog-actions>
		<div class="d-flex">
			<button mat-raised-button type="submit" (click)="saveButtonClickedFlag = true"
				color="primary">{{'HR.BUTTONS.SAVE'|translate}}</button>
			<button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{'HR.BUTTONS.CLOSE'|translate}}</button>
		</div>
	</mat-dialog-actions>

</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>