<div class="example-container mat-elevation-z8">
	<div class="example-loading-shade"
		 *ngIf="isLoadingResults || isRateLimitReached">
	  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
	  <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
		GitHub's API rate limit has been reached. It will be reset in one minute.
	  </div>
	</div>
  
	<div class="example-table-container">

		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

			<ng-container matColumnDef="CollectorName">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> اسم الموظف </th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">

					{{element.collectorName}}

				</td>
			</ng-container>

			<ng-container matColumnDef="RequestDate">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> تاريخ الطلب</th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">
					<span class="badge badge-sm badge-danger">
						{{element.requestDate | date:'short'}}
					</span>
					
				</td>
			</ng-container>

			<ng-container matColumnDef="UpdatedTypeName">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> نوع التعديل </th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">

					{{element.updatedTypeName}}

				</td>
			</ng-container>

		
			<ng-container matColumnDef="UpdatedTypeSysName">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> التعديل</th>
				<td class="text-center" mat-cell *matCellDef="let element">

					<div *ngIf="element.updatedTypeSysName == 'location';">
						<div class="">
							<button (click)="currentLocation(element.x,element.y)" matTooltip="اخر موقع للمستخدم"
								mat-mini-fab color="primary" class="justify-content-center align-items-center"
								aria-label="Example icon button with a filter list icon">
								<mat-icon style="font-size:20px ;"> location_on</mat-icon>
							</button>
						</div>
					</div>

					<div *ngIf="element.updatedTypeSysName == 'activity';">
						<span class="badge badge-sm badge-primary">
							{{element.customerActivity}}
						</span>
					</div>

					<div *ngIf="element.updatedTypeSysName == 'unitsnumber';">
						<span class="badge badge-sm badge-success">
							{{element.numOfUnits}}
						</span>
					</div>

					<div *ngIf="element.updatedTypeSysName == 'customerimage';">
						
						

						<div class="">
							<!--<a style="text-decoration:none;" #down download="custom-filename.jpg" [href]="element.imagePath" class="download-btn" title="ImageName">
							</a>
								<button  matTooltip="تنزيل الصورة " (click)="down.click()"
								mat-mini-fab color="accent" class="justify-content-center align-items-center"
								aria-label="Example icon button with a filter list icon">
								<mat-icon style="font-size:20px ;"> image</mat-icon>
							</button>-->
							<button matTooltip="تنزيل الصورة " (click)="openDialogDisplayImages(element.imagePath)" mat-mini-fab color="accent"
							class="justify-content-center align-items-center"
							aria-label="Example icon button with a filter list icon">
							<mat-icon style="font-size:20px ;"> image</mat-icon>
						</button>
						</div>
					</div>


				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns; let entry"
				style="cursor:pointer ;">

			</tr>

			<!-- Row shown when there is no matching data. -->
			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="4">{{'PERMISSIONS.MESSAGE.NOROWFOUND'|translate}} </td>
			</tr>
		</table>

	</div>
  
	<mat-paginator [length]="resultsLength" [pageSize]="5" aria-label="Select page of GitHub search results"></mat-paginator>
  </div>