
<form [formGroup]="roleForm" (ngSubmit)="addRole()" dir="rtl">

    <h2 mat-dialog-title>
  
      <div class="d-flex justify-content-between align-items-center">
        <span class="fontsection">{{'PERMISSIONS.TITLES.ADDNEWROLE'|translate}}</span>
        <button class="col-md-1" mat-button [mat-dialog-close]="true" cdkFocusInitial>
          <mat-icon>close</mat-icon>
        </button>
      </div>
  
    </h2>
  
    <mat-divider></mat-divider>
  
    <mat-dialog-content style="z-index: -1;" class="mat-typography">
        <div class="row">
            <div class="col-12">

                <div class="fv-row mb-10 d-flex">
                    <div class="col-md-10">
                        <label class="fs-5 fw-bolder form-label mb-2"><span class="required">{{'PERMISSIONS.TITLES.ROLENAME'|translate}}</span></label>
                        <input class="form-control form-control-solid" placeholder="{{'PERMISSIONS.PLACEHOLDER.ROLENAMEPLACEHOLDER'|translate}}"
                            name="role_name" formControlName="roleName"
                            [ngClass]="{'border-danger':roleForm.controls['roleName'].errors&&(roleForm.controls['roleName'].touched||saveButtonClickedFlag)}" />
                            <mat-hint>
                                
                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                  validation: 'required',
                                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'PERMISSIONS.TITLES.ROLENAME' | translate},
                                  control: roleForm.controls['roleName']
                                }"></ng-container>

                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                  validation: 'minlength',
                                  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'PERMISSIONS.TITLES.ROLENAME' | translate , min:3},
                                  control: roleForm.controls['roleName']
                                }"></ng-container>

                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                    validation: 'maxlength',
                                    message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'PERMISSIONS.TITLES.ROLENAME' | translate , max:100},
                                    control: roleForm.controls['roleName']
                                 }"></ng-container>

                            </mat-hint>
                    </div>
                </div>

                <div class="fv-row">
                    <label class="fs-5 fw-bolder form-label mb-2">{{'PERMISSIONS.TITLES.ROLEPERMISSION'|translate}}</label>
                    <app-treepermission ></app-treepermission>
                </div>

            </div>

        </div>
    </mat-dialog-content>
  
  
    <mat-dialog-actions>
      <div class="d-flex">
        <button mat-raised-button type="submit" (click)="saveButtonClickedFlag = true" [disabled]="loading"
          color="primary">{{'HR.BUTTONS.SAVE'|translate}}</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{'HR.BUTTONS.CLOSE'|translate}}</button>
      </div>
    </mat-dialog-actions>
  
  </form>
  
  <ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
      <div class="fv-plugins-message-container">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </ng-container>
  </ng-template>