<div class="example-container mat-elevation-z8">
	<div class="example-loading-shade"
		 *ngIf="isLoadingResults || isRateLimitReached">
	  <mat-spinner [diameter]="50" *ngIf="isLoadingResults"></mat-spinner>
	  <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
		GitHub's API rate limit has been reached. It will be reset in one minute.
	  </div>
	</div>
  
	<div class="example-table-container">
  
	  <table mat-table [dataSource]="data" class="example-table"
			 matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
			<!-- Name Column -->
			<ng-container matColumnDef="expense">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> المصروفات </th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">
					<span>
						{{element.expenseType}}
					</span>
				</td>
			</ng-container>

			<ng-container matColumnDef="expenseDate">
				<th  class="stylingHeader" mat-header-cell *matHeaderCellDef> التاريخ </th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">
					{{element.expenseDate | date:'dd/MM/yyyy'}}
				</td>
			</ng-container>

			<ng-container matColumnDef="carNumber">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> لوحة السيارة  </th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">

					{{element.carNumber}}

				</td>
			</ng-container>


			<ng-container matColumnDef="expenseValue">
				<th  class="stylingHeader" mat-header-cell *matHeaderCellDef> القيمة  </th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">
					<span class="badge badge-sm badge-secondary">
						{{element.expenseValue}}
					</span>
				</td>
			</ng-container>

			<ng-container matColumnDef="approvedOrRejectBy">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef>  الحالة</th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">
					<span class="badge badge-info badge-sm">
						{{element.approvedOrRejectBy}}
					</span>
				</td>
			</ng-container>


			<ng-container matColumnDef="actions">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> </th>
				<td mat-cell class="text-center" *matCellDef="let element">

							<!--	<a style="text-decoration:none;" #down download="custom-filename.jpg"
						[href]="element.imagePath" class="download-btn" title="ImageName">
					</a>
					<button matTooltip="تنزيل الصورة " (click)="down.click()" mat-mini-fab color="accent"
						class="justify-content-center align-items-center"
						aria-label="Example icon button with a filter list icon">
						<mat-icon style="font-size:20px ;"> image</mat-icon>
					</button>-->

							<button matTooltip="تنزيل الصورة "
								(click)="openDialogDisplayImages(element.attachments)" mat-mini-fab color="primary"
								class="justify-content-center align-items-center"
								aria-label="Example icon button with a filter list icon">
								<mat-icon style="font-size:20px ;"> image</mat-icon>
							</button>

							<button matTooltip="{{'SHARE.BUTTONS.DELETE'|translate}}" mat-mini-fab color="warn" (click)="removeCarExpenseTransaction(element)" class="mx-md-2"
								aria-label="Example icon button with a filter list icon">
								<mat-icon>close</mat-icon>
							</button>

				</td>
			</ng-container>

  
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	  </table>
	</div>
  
	<mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 20,100]" 
	aria-label="Select page of GitHub search results"></mat-paginator>
  </div>
  