<div class="example-container mat-elevation-z8">
	<div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
		<mat-spinner [diameter]="50" *ngIf="isLoadingResults"></mat-spinner>
		<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
			GitHub's API rate limit has been reached. It will be reset in one minute.
		</div>
	</div>

	<div class="example-table-container">

		<table mat-table [dataSource]="data" class="example-table" matSort matSortActive="created" matSortDisableClear
			matSortDirection="desc">
			<!-- Name Column -->
			<ng-container matColumnDef="expense">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> المصروفات </th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">
					<span class="badge badge-danger">
						{{element.expenseType}}
					</span>
				</td>
			</ng-container>

			<ng-container matColumnDef="expenseDate">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> التاريخ </th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">
					{{element.expenseDate | date:'dd/MM/yyyy'}}
				</td>
			</ng-container>

			<ng-container matColumnDef="carNumber">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> لوحة السيارة </th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">

					{{element.carNumber}}

				</td>
			</ng-container>


			<ng-container matColumnDef="expenseValue">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> القيمة </th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">
					<span class="badge badge-sm badge-secondary">
						{{element.expenseValue}}
					</span>
				</td>
			</ng-container>

			<ng-container matColumnDef="status">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> الحالة</th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">

					<span *ngIf="element.isRecievedMobile==false || element.isRecievedMobile==null;else mobile;" class="badge badge-secondary badge-sm">
						تم التاكيد
					</span>

					<ng-template #mobile>
						<span *ngIf="element.isWaiting==true" class="badge badge-secondary badge-sm">
							انتظار
						</span>
	
						<span *ngIf="element.isRejected==true && (element.isWaiting==false || element.isWaiting==null)"
							class="badge badge-secondary badge-sm">
							تم الرفض
						</span>
	
						<span *ngIf="element.isRejected==false && (element.isWaiting==false || element.isWaiting==null)"
							class="badge badge-secondary badge-sm">
							تم القبول
						</span>
					</ng-template>
					

				</td>
			</ng-container>

			<ng-container matColumnDef="Notes">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> الملاحظات</th>
				<td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">
					<span class="badge badge-info badge-sm">
						{{element.notes}}
					</span>
				</td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th class="stylingHeader" mat-header-cell *matHeaderCellDef> </th>
				<td mat-cell class="text-center" *matCellDef="let element">

					<button *ngIf="element.isWaiting==true" [matMenuTriggerFor]="menu"
						matTooltip="موافقة او رفض الطلب" mat-mini-fab color="accent"
						class="justify-content-center align-items-center"
						aria-label="Example icon button with a filter list icon">
						<mat-icon style="font-size:20px;"> android </mat-icon>
					</button>

					<mat-menu #menu="matMenu">
						<button (click)="acceptMobileOrder(element.id)" mat-menu-item>موافقة
							<mat-icon style="font-size:20px;" class="text-primary"> done_outline </mat-icon>
						</button>
						<button (click)="RejectMobileOrder(element.id)" mat-menu-item>رفض
							<mat-icon style="font-size:20px;" class="text-danger"> close </mat-icon>
						</button>
					</mat-menu>
					<!--					*ngIf="element.isRecievedMobile==''"
-->

					<button matTooltip="تنزيل الصورة " (click)="openDialogDisplayImages(element.attachments)"
						mat-mini-fab color="primary" class="justify-content-center align-items-center"
						aria-label="Example icon button with a filter list icon" class="mx-md-2">
						<mat-icon style="font-size:20px ;"> image</mat-icon>
					</button>

					<button matTooltip="{{'SHARE.BUTTONS.DELETE'|translate}}" mat-mini-fab color="warn"
						(click)="removeCarExpenseTransaction(element)" class=""
						aria-label="Example icon button with a filter list icon">
						<mat-icon>close</mat-icon>
					</button>

				</td>
			</ng-container>


			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>

	<mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 20,100]"
		aria-label="Select page of GitHub search results"></mat-paginator>
</div>