
<h2 mat-dialog-title>

  <div class="d-flex justify-content-between align-items-center">

    <span class="fontsection">{{data.isTechnician?("CARS.TITLES.ASSIGNCARTOTECH"|translate):("CARS.TITLES.ASSIGNCARTODRIVER"|translate)}}</span>
    <button class="col-md-1" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      <mat-icon>close</mat-icon>
    </button>

  </div>

</h2>
<mat-divider></mat-divider>

<form [formGroup]="carAssignForm" (ngSubmit)="addAssignToCar()">

  <mat-dialog-content style="z-index: -1;" class="mat-typography">
    <div class="row mx-0">
      <div class="col-md-6 mb-3">

        <ng-select appendTo="body" class="customized" [items]="dropdownTechnicianData" bindLabel="Name" style="margin: 0.25em 0;" bindValue="Id"
          name="driverOrTechId" id="driverOrTechId" placeholder="{{'CARS.INPUTS.'+(data.isTechnician?'TECHNICIAN':'DRIVER') | translate}}"
          formControlName="driverOrTechId">
        </ng-select>
        <mat-hint>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'CARS.INPUTS.'+(data.isTechnician?'TECHNICIAN':'DRIVER') | translate},
                control: carAssignForm.controls['driverOrTechId']
              }"></ng-container>

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'CARS.INPUTS.'+(data.isTechnician?'TECHNICIAN':'DRIVER')| translate , min:3},
                control: carAssignForm.controls['driverOrTechId']
              }"></ng-container>

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'CARS.INPUTS.'+(data.isTechnician?'TECHNICIAN':'DRIVER') | translate , max:100},
                  control: carAssignForm.controls['driverOrTechId']
               }"></ng-container>

        </mat-hint>

      </div>

      <div class="col-md-6 mb-3">

        <mat-form-field appearance="outline">
          <mat-label> {{'CARS.INPUTS.NOTES' | translate}} </mat-label>
          <input matInput placeholder="Placeholder" name="name" formControlName="notes">
          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'CARS.INPUTS.NOTES'  | translate},
                  control: carAssignForm.controls['notes']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'minlength',
                  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'CARS.INPUTS.NOTES'  | translate , min:3},
                  control: carAssignForm.controls['notes']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'CARS.INPUTS.NOTES'  | translate , max:100},
                  control: carAssignForm.controls['notes']
                 }"></ng-container>
          </mat-hint>
        </mat-form-field>

      </div>

      <div class="col-md-6 mb-3">
        <input hidden type="file" class="form-control" #fileInput (change)="onFileChange($event)" multiple accept=".pdf,image/*"
          formControlName="file" />
        <button mat-raised-button (click)="fileInput.click()" style="background-color: #e7e7e7;">
          <mat-icon>upload</mat-icon>
          <span>{{'CARS.INPUTS.FILE'|translate}} </span>
          <span *ngIf="fileInput.files?.length!=0"> ({{'CARS.INPUTS.FILECOUNT'|translate}} {{fileInput.files?.length}})</span>
        </button>
        <mat-hint>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'CARS.INPUTS.FILE'  | translate},
                  control: carAssignForm.controls['file']
                }"></ng-container>

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'minlength',
                  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'CARS.INPUTS.FILE'  | translate , min:3},
                  control: carAssignForm.controls['file']
                }"></ng-container>

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'CARS.INPUTS.FILE'  | translate , max:100},
                  control: carAssignForm.controls['file']
                 }"></ng-container>
        </mat-hint>
      </div>
    </div>
  </mat-dialog-content>

 
  <mat-dialog-actions>
		<div class="d-flex">
			<button mat-raised-button type="submit" (click)="saveButtonClickedFlag = true" [disabled]="loading" 
				color="primary">{{'HR.BUTTONS.SAVE'|translate}}</button>
			<button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{'HR.BUTTONS.CLOSE'|translate}}</button>
		</div>
	</mat-dialog-actions>

</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>