<form [formGroup]="carAssignForm" (ngSubmit)="addAssignToCar()" style="direction: rtl;">
  <!-- {{"DECLARATIONS.TITLES.ASSIGNTECHNICIANTOPATHROUTE"|translate}} -->
  <div mat-dialog-title>
    <div class="row mx-0">
      <div class="col"> {{data.isTechnician?("CARS.TITLES.ASSIGNCARTOTECH"|translate):("CARS.TITLES.ASSIGNCARTODRIVER"|translate)}}</div>
      <div class="col-2">
        <button mat-button mat-dialog-close><span class="material-icons">close</span></button>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div mat-dialog-content class="overflow-auto py-2">
    <div class="row mx-0">

      <div class="col-md-6 mb-3">

        <ng-select appendTo="body" class="customized" [items]="dropdownTechnicianData" bindLabel="Name" style="margin: 0.25em 0;" bindValue="Id"
          name="driverOrTechId" id="driverOrTechId" placeholder="{{'CARS.INPUTS.'+(data.isTechnician?'TECHNICIAN':'DRIVER') | translate}}"
          formControlName="driverOrTechId">
        </ng-select>
        <mat-hint>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'CARS.INPUTS.'+(data.isTechnician?'TECHNICIAN':'DRIVER') | translate},
                control: carAssignForm.controls['driverOrTechId']
              }"></ng-container>

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'CARS.INPUTS.'+(data.isTechnician?'TECHNICIAN':'DRIVER')| translate , min:3},
                control: carAssignForm.controls['driverOrTechId']
              }"></ng-container>

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'CARS.INPUTS.'+(data.isTechnician?'TECHNICIAN':'DRIVER') | translate , max:100},
                  control: carAssignForm.controls['driverOrTechId']
               }"></ng-container>

        </mat-hint>

      </div>

      <div class="col-md-6 mb-3">

        <mat-form-field appearance="outline">
          <mat-label> {{'CARS.INPUTS.NOTES' | translate}} </mat-label>
          <input matInput placeholder="Placeholder" name="name" formControlName="notes">
          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'CARS.INPUTS.NOTES'  | translate},
                  control: carAssignForm.controls['notes']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'minlength',
                  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'CARS.INPUTS.NOTES'  | translate , min:3},
                  control: carAssignForm.controls['notes']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'CARS.INPUTS.NOTES'  | translate , max:100},
                  control: carAssignForm.controls['notes']
                 }"></ng-container>
          </mat-hint>
        </mat-form-field>

      </div>

      <div class="col-md-6 mb-3">
        <input hidden type="file" class="form-control" #fileInput (change)="onFileChange($event)" multiple formControlName="file" />
        <button mat-raised-button (click)="fileInput.click()" style="background-color: #e7e7e7;">
          <mat-icon>upload</mat-icon>
          <span>{{'CARS.INPUTS.FILE'|translate}} </span>
          <span *ngIf="fileInput.files?.length!=0"> ({{'CARS.INPUTS.FILECOUNT'|translate}} {{fileInput.files?.length}})</span>
        </button>
        <mat-hint>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'CARS.INPUTS.FILE'  | translate},
                  control: carAssignForm.controls['file']
                }"></ng-container>

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'minlength',
                  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'CARS.INPUTS.FILE'  | translate , min:3},
                  control: carAssignForm.controls['file']
                }"></ng-container>

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'CARS.INPUTS.FILE'  | translate , max:100},
                  control: carAssignForm.controls['file']
                 }"></ng-container>
        </mat-hint>
      </div>

    </div>
  </div>

  <mat-divider></mat-divider>

  <div mat-dialog-actions>
    <div class="text-center col-md-6 d-flex">
      <button type="reset" mat-button mat-dialog-close class="btn btn-light me-3 p-0">{{'DECLARATIONS.BUTTONS.CANCEL'|translate}}</button>

      <button type="submit" (click)="saveButtonClickedFlag = true" id="kt_modal_new_target_submit" class="btn btn-primary">
        <span class="indicator-label">{{'DECLARATIONS.BUTTONS.SAVE'|translate}}</span>
        <span class="indicator-progress">Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>

    </div>
  </div>

</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>