<div class="row m-0 p-0">
  <div class="col-md-12">
    <mat-tab-group style="width: 100%;">

      <mat-tab>
        <ng-template mat-tab-label>
          <a class="nav-link text-hover-primary me-6 fontForInputs" style="color:rgb(71, 71, 71); font-weight: bold;" id="complainsLink"
            routerLink="/InvTransaction/dailytransaction" routerLinkActive="text-primary">
            <mat-icon>library_add</mat-icon>
            التعاملات اليومية
          </a>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <a class="nav-link text-hover-primary me-6 fontForInputs" style="color:rgb(71, 71, 71); font-weight: bold;" id="complainsLink"
            routerLink="/InvTransaction/transactionList" routerLinkActive="text-primary">
            <mat-icon>search</mat-icon>
            الاستعلام عن حركات المخزن
          </a>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <a class="nav-link text-hover-primary me-6 fontForInputs" style="color:rgb(71, 71, 71); font-weight: bold;" id="complainsLink"
            routerLink="/InvTransaction/reserveditem" routerLinkActive="text-primary">
            <mat-icon>block</mat-icon>
            الاستعلام عن الاصناف المحجوزة
          </a>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <a class="nav-link text-hover-primary me-6 fontForInputs" style="color:rgb(71, 71, 71); font-weight: bold;" id="complainsLink"
            routerLink="/InvTransaction/transactionrequest" routerLinkActive="text-primary">
            <mat-icon>archive</mat-icon>
            طلبات الاستلام
          </a>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <a class="nav-link text-hover-primary me-6 fontForInputs" style="color:rgb(71, 71, 71); font-weight: bold;" id="complainsLink"
            routerLink="/InvTransaction/transactionreturns" routerLinkActive="text-primary">
            <mat-icon>wifi_protected_setup</mat-icon>
            الارتجاع
          </a>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </div>
  <!--begin:::Tabs-->
  <br>
  <!--end:::Tabs-->
  <!--begin:::Tab content-->
  <router-outlet class="col-md-12"></router-outlet>
  <!--end:::Tab content-->
</div>