<form [formGroup]="SearchOnlineUsersForm" (ngSubmit)="searchOnlineUsers(SearchOnlineUsersForm.value)">


	<div class="row">

		<div class="col-md-6">

			<div class="row align-items-center">
				<div class="col-md-2">
					<label class="col-md-2" for="companyId" class="fontForInputs">
						{{'PERMISSIONS.TITLES.COMPANIES'|translate}}</label>
				</div>
				<div class="col-md-10">
					<ng-select class="customized" [items]="dropCompaniesData" bindLabel="Name" bindValue="Id"
						name="companyId" formControlName="companyId">
					</ng-select>
				</div>
			</div>

		</div>

		<div class="col-md-6">

			<div class="row">

				<div class="col-md-12">

					<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group mt-5"
						formControlName="userStates">

						<mat-radio-button class="fontForInputs example-radio-button" [value]="true">
							{{'PERMISSIONS.INPUTS.ONLINEUSERS'|translate}} </mat-radio-button>
						<mat-radio-button class="fontForInputs example-radio-button" [value]="false">
							{{'PERMISSIONS.INPUTS.OFFLINEUSERS'|translate}}
						</mat-radio-button>
						<mat-radio-button class="fontForInputs example-radio-button" [value]="">
							{{'PERMISSIONS.INPUTS.ALLUSERS'|translate}}
						</mat-radio-button>

					</mat-radio-group>

					<button mat-mini-fab color="primary" id="search" type="submit" class="mx-10">
						<mat-icon style="font-size: 20px;">search</mat-icon>
					</button>

				</div>

			</div>

		</div>


	</div>


</form>

<mat-divider class="mt-5"></mat-divider>

<div class="row mt-5">

	<span class="fontForInputs mt-3 mb-5">
		{{'PERMISSIONS.TITLES.COUNTONLINEUSERFOREACHCOMPANY'|translate}}

		<mat-icon class="text-primary mt-2 mx-2"> cell_wifi</mat-icon>
	</span>

	<span *ngIf="onlineUsersGrouped; else noData;">
		<div class="d-inline mx-5" *ngFor="let t of onlineUsersGrouped">

			<span class="badge badge-info fontForInputs">
				{{t.companyName}}
			</span>

			<span class="badge badge-danger fontForInputs">
				{{t.countOnlineUsers}}
			</span>

		</div>
	</span>
	<ng-template #noData>
		<span class="fontForInputs">
			{{'PERMISSIONS.MESSAGE.NOROWFOUND'|translate}}
		</span>
	</ng-template>

</div>