.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .checklist-leaf-node {
    padding-left: 40px;
  }
  
  .submit-button {
    margin-top: 10px;
  }

  mat-tree-node[aria-level="4"]{
display: inline-flex;
margin-inline-start: 40px !important;
  }