<section id="company_list">

  <mat-card class="col-md-12">
    <div style="width:100%" class="d-flex justify-content-between align-items-center">

      <span class="fontsection"> بيانات العملاء </span>

      <button matTooltip="{{'HR.BUTTONS.ADD'|translate}}" mat-mini-fab color="primary" class="mx-md-1" id="kt_activities_toggle"
        (click)="openDialog()" aria-label="Example icon button with a filter list icon">
        <mat-icon>add</mat-icon>
      </button>

    </div>
	

	<div class="row ">

		<ng-select style="width: 250px;" class="customized" [items]="dropdownFinancialYearData" formControlName="FinancialYearId"
			bindLabel="Name" bindValue="Id" name="FinancialYearId" placeholder="السنة المالية">
		</ng-select>

		<ng-select style="width: 250px;" class="customized" [items]="dropdownBillTypeData"
			formControlName="BillTypeId" bindLabel="Name" bindValue="Id" name="BillTypeId" placeholder="نوع الفاتوره">
		</ng-select>

		<ng-select style="width: 250px;" class="customized" [items]="dropdownEmloyeeTypeData"
			formControlName="EmployeeId" bindLabel="Name" bindValue="Id" name="EmployeeId" placeholder="الموظف">
		</ng-select>

		<button mat-mini-fab color="primary" id="search" type="submit" class="mx-10 mt-2">
			<mat-icon  style="font-size: 25px;">search</mat-icon>
		</button>

	</div>

  </mat-card>



  <div class="row">
    <!--<button (click)="openDialog()" class="btn btn-primary col-md-2">
			{{ "HR.BUTTONS.ADD" | translate }}
		</button>-->
    <div class="col-md-12">
      <client-item *ngFor="let x of companys" [company]="x"></client-item>
    </div>
  </div>

</section>
