
 

<h2 mat-dialog-title>

  <div class="d-flex justify-content-between align-items-center">

    <span class="fontsection">{{"DECLARATIONS.TITLES.STOCKSHELF"|translate}}</span>
    <button class="col-md-1" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      <mat-icon>close</mat-icon>
    </button>

  </div>

</h2>
<mat-divider></mat-divider>

<form [formGroup]="stockTreeForm" (ngSubmit)="addStockShelf()">

  <mat-dialog-content style="z-index: -1;" class="mat-typography">
    <div class="row mx-0">

      <div class="col-md-6 mb-3">

        <mat-form-field appearance="outline">
          <mat-label> {{'DECLARATIONS.INPUTS.NAME' | translate}} </mat-label>
          <input matInput placeholder="Placeholder" name="name" formControlName="name">
          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'DECLARATIONS.INPUTS.NAME'  | translate},
                  control: stockTreeForm.controls['name']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'minlength',
                  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.NAME'  | translate , min:3},
                  control: stockTreeForm.controls['name']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.NAME'  | translate , max:100},
                  control: stockTreeForm.controls['name']
                 }"></ng-container>
          </mat-hint>
        </mat-form-field>

      </div>

      <div class="col-md-6 mb-3">

        <mat-form-field appearance="outline">
          <mat-label> {{'DECLARATIONS.INPUTS.CODE' | translate}} </mat-label>
          <input matInput placeholder="Placeholder" name="code" formControlName="code">
          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'DECLARATIONS.INPUTS.CODE'  | translate},
                  control: stockTreeForm.controls['code']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'minlength',
                  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.CODE'  | translate , min:3},
                  control: stockTreeForm.controls['code']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.CODE'  | translate , max:100},
                  control: stockTreeForm.controls['code']
                 }"></ng-container>
          </mat-hint>
        </mat-form-field>

      </div>

      <div class="col-md-6 mb-3">

        <mat-form-field appearance="outline">
          <mat-label> {{'DECLARATIONS.INPUTS.SHELF' | translate}} </mat-label>
          <input matInput placeholder="Placeholder" name="shelf" formControlName="shelf">
          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'DECLARATIONS.INPUTS.SHELF'  | translate},
                  control: stockTreeForm.controls['shelf']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'minlength',
                  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.SHELF'  | translate , min:3},
                  control: stockTreeForm.controls['shelf']
                }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.SHELF'  | translate , max:100},
                  control: stockTreeForm.controls['shelf']
                 }"></ng-container>
          </mat-hint>
        </mat-form-field>

      </div>
    </div>
  </mat-dialog-content>

 
  <mat-dialog-actions>
		<div class="d-flex">
			<button mat-raised-button type="submit" (click)="saveButtonClickedFlag = true" [disabled]="loading"
				color="primary">{{'HR.BUTTONS.SAVE'|translate}}</button>
			<button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{'HR.BUTTONS.CLOSE'|translate}}</button>
		</div>
	</mat-dialog-actions>

</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>