<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" dir="rtl">

  <h2 mat-dialog-title>

    <div class="d-flex justify-content-between align-items-center">
      <span class="fontsection">{{"تغيير كلمة المرور"|translate}}</span>
      <button class="col-md-1" mat-button [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </h2>
  <mat-divider></mat-divider>

  <mat-dialog-content style="z-index: -1;" class="mat-typography">
    <div class="row mx-0 mt-1">

      <div class="col-md-12 mb-3">
        <mat-form-field appearance="outline">
          <mat-label> {{"كلمة المرور القديمة" | translate}} </mat-label>
          <input matInput placeholder="" name="OldPassWord" formControlName="OldPassWord">
          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'كلمة المرور القديمة' },
                control: changePasswordForm.controls['OldPassWord']
              }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'كلمة المرور القديمة'  , min:6},
                control: changePasswordForm.controls['OldPassWord']
              }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'كلمة المرور القديمة'  , max:100},
                control: changePasswordForm.controls['OldPassWord']
               }"></ng-container>
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-12 mb-3">
        <mat-form-field appearance="outline">
          <mat-label> {{"كلمة المرور الجديدة" | translate}} </mat-label>
          <input matInput placeholder="" name="NewPassWord" formControlName="NewPassWord">
          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'كلمة المرور الجديدة' },
                control: changePasswordForm.controls['NewPassWord']
              }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'كلمة المرور الجديدة'  , min:6},
                control: changePasswordForm.controls['NewPassWord']
              }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'كلمة المرور الجديدة'  , max:100},
                control: changePasswordForm.controls['NewPassWord']
               }"></ng-container>
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-12 mb-3">
        <mat-form-field appearance="outline">
          <mat-label> {{"كلمة المرور الجديدة اعادة" | translate}} </mat-label>
          <input matInput placeholder="" name="ConfirmNewPassWord" formControlName="ConfirmNewPassWord">
          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'كلمة المرور الجديدة اعادة' },
                control: changePasswordForm.controls['ConfirmNewPassWord']
              }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'كلمة المرور الجديدة اعادة'  , min:6},
                control: changePasswordForm.controls['ConfirmNewPassWord']
              }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'كلمة المرور الجديدة اعادة'  , max:100},
                control: changePasswordForm.controls['ConfirmNewPassWord']
               }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'matching',
                message: 'كلمة المرور غير مطابقة' | translate : {name:'' },
                control: changePasswordForm.controls['ConfirmNewPassWord']
               }"></ng-container>
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>


  <mat-dialog-actions>
    <div class="d-flex">
      <button mat-raised-button type="submit" (click)="saveButtonClickedFlag = true" [disabled]="loading"
        color="primary">{{'HR.BUTTONS.SAVE'|translate}}</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{'HR.BUTTONS.CLOSE'|translate}}</button>
    </div>
  </mat-dialog-actions>

</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>