<section class="row">

  <mat-card class="col-md-7">
    <div class="d-flex align-items-center mb-2 fontsection">
      <span class="fontForInputs fs-3"> {{"DECLARATIONS.TITLES.INTERNALDIVISION"|translate}}</span>
    </div>

    <mat-divider></mat-divider>

    <div class="align-items-baseline mt-4 mx-0 row">
      <div class="col-md-4">
        <ng-select class="customized" [items]="dropdownStockData" bindLabel="Name" bindValue="Id"
          placeholder="{{'DECLARATIONS.INPUTS.STOCK' | translate}}" (change)="onSelectStock($event)">
        </ng-select>
      </div>
    </div>

  </mat-card>

  <div class="col-md-7 mt-10">
    <app-internaldivisiontree></app-internaldivisiontree>
  </div>

</section>