<mat-card class="col-md-12" *ngIf="stockShelfsTree.length>0">

  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="w-100 bg-danger p-5 mb-1" cdkDrag [cdkDragData]="dnode" (mouseenter)="dragHover(dnode)" (mouseleave)="dragHoverEnd()"
      (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd(dnode)">
      <label class="fontForInputs fs-4"> يمكنك سحب التصنيف إلى هنا لتحويلة لتصنيف رئيسي</label>
    </div>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node class="{{node.id==objHover?.id||node.isEdit?'bg-light-warning text-dark':''}}" [style.padding-right]="(node.level*40)+'px'"
        *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding cdkDrag [cdkDragData]="node" (mouseenter)="dragHover(node)"
        (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd(node)"
        matTooltip="يمكنك السحب والاسقاط على تصنيف أخر">
        <button mat-icon-button disabled></button>

        <div class="row w-100 align-items-center" *ngIf="node.isEdit">

          <div class="col-md-3">
            <mat-form-field appearance="outline" color="white">
              <mat-label> {{'DECLARATIONS.INPUTS.NAME' | translate}} </mat-label>
              <input matInput placeholder="Placeholder" name="NAME" [(ngModel)]="node.name">
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <button mat-mini-fab (click)="updateItem(node); node.isEdit=true" color="primary" class="mx-2">
              <mat-icon class="m-0">save</mat-icon>
            </button>
            <button mat-mini-fab (click)="node.isEdit=false" color="warn">
              <mat-icon class="m-0">close</mat-icon>
            </button>
          </div>

        </div>


        <label *ngIf="!node.isEdit" [matMenuTriggerFor]="menu" class="d-flex justify-content-center align-items-end fontForInput fs-2"
          style="user-select: none;">
          {{node.name }}
        </label>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addItem(node)" class="align-items-center d-flex justify-content-between px-2">
            <mat-icon class="m-0">add</mat-icon><span>اضافة</span>
          </button>
          <button mat-menu-item (click)="node.isEdit=true" class="align-items-center d-flex justify-content-between px-2">
            <mat-icon class="m-0">edit</mat-icon><span>تعديل</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="toggleActiveDeactive(node)"
            matTooltip="{{node.isActive === true? ('HR.TITLES.NOTACTIVE' | translate): ('HR.TITLES.ACTIVE' | translate)}}"
            class="align-items-center d-flex justify-content-between px-2">
            <mat-icon *ngIf="node.isActive == false" class="m-0 {{node.isActive == false?'text-primary':''}}">toggle_off</mat-icon>
            <label *ngIf="node.isActive == false" class="badge badge-primary"> {{"HR.TITLES.ACTIVE" |translate}}</label>

            <mat-icon *ngIf="node.isActive == true" class="m-0 {{node.isActive == false?'text-danger':''}}">toggle_on</mat-icon>
            <label *ngIf="node.isActive == true" class="badge badge-danger">{{"HR.TITLES.NOTACTIVE"|translate}}</label>
          </button>
        </mat-menu>

      </mat-tree-node>

      <mat-tree-node class="{{node.id==objHover?.id||node.isEdit?'bg-light-warning text-dark':''}}" [style.padding-right]="(node.level*40)+'px'"
        *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding cdkDrag [cdkDragData]="node" (mouseenter)="dragHover(node)"
        (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd(node)"
        matTooltip="يمكنك السحب والاسقاط على تصنيف أخر">

        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>

        <div class="row w-100 align-items-center" *ngIf="node.isEdit">

          <div class="col-md-3">
            <mat-form-field appearance="outline" color="white">
              <mat-label> {{'DECLARATIONS.INPUTS.NAME' | translate}} </mat-label>
              <input matInput placeholder="Placeholder" name="NAME" [(ngModel)]="node.name">
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <button mat-mini-fab (click)="updateItem(node); node.isEdit=true" color="primary" class="mx-2">
              <mat-icon class="m-0">save</mat-icon>
            </button>
            <button mat-mini-fab (click)="node.isEdit=false" color="warn">
              <mat-icon class="m-0">close</mat-icon><span></span>
            </button>
          </div>

        </div>


        <label *ngIf="!node.isEdit" [matMenuTriggerFor]="menu" class="d-flex justify-content-center align-items-end fontForInput fs-2"
          style="user-select: none;">
          {{node.name }}
        </label>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addItem(node)" class="align-items-center d-flex justify-content-between px-2">
            <mat-icon class="m-0">add</mat-icon><span>اضافة</span>
          </button>
          <button mat-menu-item (click)="node.isEdit=true" class="align-items-center d-flex justify-content-between px-2">
            <mat-icon class="m-0">edit</mat-icon><span>تعديل</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="toggleActiveDeactive(node)"
            matTooltip="{{node.isActive === true? ('HR.TITLES.NOTACTIVE' | translate): ('HR.TITLES.ACTIVE' | translate)}}"
            class="align-items-center d-flex justify-content-between px-2">
            <mat-icon *ngIf="node.isActive == false" class="m-0 {{node.isActive == false?'text-primary':''}}">toggle_off</mat-icon>
            <label *ngIf="node.isActive == false" class="badge badge-primary"> {{"HR.TITLES.ACTIVE" |translate}}</label>

            <mat-icon *ngIf="node.isActive == true" class="m-0 {{node.isActive == false?'text-danger':''}}">toggle_on</mat-icon>
            <label *ngIf="node.isActive == true" class="badge badge-danger">{{"HR.TITLES.NOTACTIVE"|translate}}</label>
          </button>
        </mat-menu>


      </mat-tree-node>

    </mat-tree>
  </div>



</mat-card>