<div class="d-flex flex-column bgi-no-repeat rounded-top">
  <h3 class="fontForInputs fs-2 p-3 justify-content-center d-flex">
    <mat-icon style="font-size:25px;">notifications</mat-icon>
    الاشعارات
  </h3>
  <!-- [style.background-image]="'url(./assets/media/misc/pattern-1.jpg)'" -->
  <ul class="nav nav-line-tabs nav-line-tabs-2x nav-stretch fw-bold px-9">

    <li class="nav-item">
      <a class="nav-link fontForInputs opacity-75 opacity-state-100 pb-4 cursor-pointer " data-bs-toggle="tab"
        [ngClass]="activeTabId === 'kt_topbar_notifications_1' ? 'active' : ''" (click)="setActiveTabId('kt_topbar_notifications_1')">
        طلبات الاستلام
      </a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link fontForInputs opacity-75 opacity-state-100 pb-4 cursor-pointer " data-bs-toggle="tab"
        [ngClass]="activeTabId === 'kt_topbar_notifications_2' ? 'active' : ''" (click)="setActiveTabId('kt_topbar_notifications_1');">
        طلبات الاستلام
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link fontForInputs opacity-75 opacity-state-100 pb-4 cursor-pointer " data-bs-toggle="tab"
        [ngClass]="activeTabId === 'kt_topbar_notifications_3' ? 'active' : ''" (click)="setActiveTabId('kt_topbar_notifications_1')">
        طلبات الاستلام
      </a>
    </li> -->

  </ul>
</div>

<div class="tab-content">

  <div class="tab-pane fade" id="kt_topbar_notifications_1" role="tabpanel"
    [ngClass]="activeTabId === 'kt_topbar_notifications_1' ? 'show active' : ''">
    <div class="scroll-y mh-300px my-5 px-2">
      <!-- filterNotifications('') -->
      <a *ngFor="let notify of notifications"
        class="d-flex flex-stack my-2 badge cursor-pointer justify-content-start {{notify.readOnly?'badge-light-primary':'badge-light text-dark'}}">

        <div class="w-25">
          <img mat-card-avatar class="rounded-circle" width="40px" [src]="url+notify.image" onerror="this.src='assets/media/user.png'">
        </div>

        <div class="d-block w-50 text-start">
          <span class="fs-5 mb-2">{{notify.title}} </span>
          <div class="mt-2">{{notify.message}} </div>
        </div>

        <div class="w-25">
          <span class="fs-5 mb-2"></span>
          <div class="mt-2">{{customDate(notify.messageDate)}} </div>
        </div>

      </a>

    </div>

    <div class="py-3 text-center border-top">
      <a routerLink="/notifications/viewallnotification" class="btn btn-color-gray-600 btn-active-color-primary">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'" class="svg-icon svg-icon-5"></span>عرض الكل
      </a>
    </div>

  </div>

  <!-- <div class="tab-pane fade" id="kt_topbar_notifications_2" role="tabpanel"
    [ngClass]="activeTabId === 'kt_topbar_notifications_2' ? 'show active' : ''">
    <div class="scroll-y mh-300px my-5 px-8">
    </div>
    <div class="py-3 text-center border-top">
      <a routerLink="/crafted/pages/profile" class="btn btn-color-gray-600 btn-active-color-primary">
        View All
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'" class="svg-icon svg-icon-5"></span>
      </a>
    </div>
  </div>

  <div class="tab-pane fade" id="kt_topbar_notifications_3" role="tabpanel"
    [ngClass]="activeTabId === 'kt_topbar_notifications_3' ? 'show active' : ''">
    <div class="scroll-y mh-300px my-5 px-8">
    </div>
    <div class="py-3 text-center border-top">
      <a routerLink="/crafted/pages/profile" class="btn btn-color-gray-600 btn-active-color-primary">
        View All
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'" class="svg-icon svg-icon-5"></span>
      </a>
    </div>
  </div> -->

</div>