<div class="card shadow-none rounded-0 w-100">
  <form [formGroup]="roleForm" (ngSubmit)="addRole()">
    <div class="card-header">
      <h3 class="card-title fw-bolder fontsection fs-2">{{'PERMISSIONS.TITLES.ADDPERMISSIONTOCOMPANY'|translate}}</h3>
    </div>

    <div class="card-body position-relative">

      <div class="row">
        <div class="col-12">

          <div class="fv-row mb-10 d-flex">
            <div class="col-md-4">
              <label class="fs-5 fw-bolder form-label mb-2"><span
                  class="required">{{'PERMISSIONS.TITLES.COMPANYNAME'|translate}}</span></label>
              <p-dropdown [options]="companies" optionLabel="Name" optionValue="Id" placeholder=" "
                class=" form-control-solid mb-3 mb-lg-0 userDropdown" formControlName="companyId"
                (onChange)="getCompanyRoles()"
                [ngClass]="{'is-invalid': roleForm.controls['companyId'].invalid && saveButtonClickedFlag,'is-valid': roleForm.controls['companyId'].valid}">
              </p-dropdown>

              <mat-hint>

                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'PERMISSIONS.TITLES.COMPANYNAME' | translate},
                  control: roleForm.controls['companyId']}">
                </ng-container>

              </mat-hint>
            </div>
          </div>

          <div class="fv-row" *ngIf="treePermissions.length>0">
            <label class="fs-5 fw-bolder form-label mb-2">{{'PERMISSIONS.TITLES.ROLEPERMISSION'|translate}}</label>
            <app-treepermission></app-treepermission>
          </div>

        </div>

      </div>

    </div>

    <div class="card-footer py-5 row justify-content-end" id="kt_editemployees_footer">
      <div class="text-center col-md-2 d-flex">
        <button type="submit" (click)="saveButtonClickedFlag = true" id="kt_modal_new_target_submit"
          class="btn btn-primary">
          <span class="indicator-label">{{'PERMISSIONS.BUTTONS.SAVE'|translate}}</span>
          <span class="indicator-progress">Please wait...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
        </button>
      </div>
    </div>
  </form>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>