<mat-card class="row mx-o p-0  mat-elevation-z8">

  <div class="col-12 pt-2">
    <div class="d-flex mx-5 justify-content-between align-items-center">
      <div class="m-2">
        <mat-icon class="text-primary mx-5" style="font-size:30px;">notifications</mat-icon>
        <span class="fontsection">الاشعارات</span>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="col-12 mt-3">
    <div class="row mx-5">

      <div class="col" style="max-width: 160px;">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>{{'DECLARATIONS.INPUTS.FROMDATE'|translate}}</mat-label>
          <input matInput [matDatepicker]="startD" [max]="endDate" [(ngModel)]="startDate" (dateChange)=" getNotifyByDate()">
          <mat-datepicker-toggle matSuffix [for]="startD"></mat-datepicker-toggle>
          <mat-datepicker #startD></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col" style="max-width: 160px;">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>{{'DECLARATIONS.INPUTS.TODATE'|translate}}</mat-label>
          <input matInput [matDatepicker]="endD" [min]="startDate" [(ngModel)]="endDate" (dateChange)=" getNotifyByDate()">
          <mat-datepicker-toggle matSuffix [for]="endD"></mat-datepicker-toggle>
          <mat-datepicker #endD></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-3">
        <ng-select class="customized" [items]="dropdownNotifyType" bindLabel="Name" bindValue="Id" [(ngModel)]="searchModel.MessageType_Id"
          placeholder="أختر نوع الاشعار" (change)="getNotificationData();" (clear)="getNotificationData();">
        </ng-select>
      </div>

      <div class="col-3">
        <ng-select class="customized" [items]="dropdownNotifyStatus" bindLabel="Name" bindValue="Id" [(ngModel)]="searchModel.ReadOnly"
          placeholder="أختر حالة الاشعار" (change)="getNotificationData();" (clear)="getNotificationData();">
        </ng-select>
      </div>

    </div>
  </div>

</mat-card>

<div class="example-container mat-elevation-z8 mt-5">

  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-center">

      <!-- Name Column -->
      <ng-container matColumnDef="n">
        <th mat-header-cell *matHeaderCellDef> م</th>
        <td mat-cell *matCellDef="let element; let x=index" style="cursor: pointer;">
          <span>{{((searchModel.PageNumber-1)*searchModel.PageSize)+(x+1) }}</span>
        </td>
      </ng-container>

      <!-- Name Column {{"HR.INPUTS.NAME" | translate}}-->
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef> صورة</th>
        <td mat-cell *matCellDef="let element; let x=index">
          <img mat-card-avatar [src]="url+element.image" onerror="this.src='assets/media/user.png'">
          <!-- <span>{{element.image}}</span> -->
        </td>
      </ng-container>

      <!-- Name Column {{"HR.INPUTS.NAME" | translate}}-->
      <ng-container matColumnDef="senderName">
        <th mat-header-cell *matHeaderCellDef> المرسل</th>
        <td mat-cell *matCellDef="let element; let x=index">
          <span class="badge badge-info">{{element.sender}}</span>
        </td>
      </ng-container>

      <!-- Name Column {{"HR.INPUTS.NAME" | translate}}-->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> التاريخ</th>
        <td mat-cell *matCellDef="let element; let x=index">
          <span class="badge badge-primary">{{element.messageDate|date:'h:m:s dd/MM/yyyy'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> عنوان الاشعار </th>
        <td mat-cell *matCellDef="let element; let x=index">
          <span class="badge badge-success">{{element.title}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef>محتوى الاشعار</th>
        <td mat-cell *matCellDef="let element; let x=index">
          <span class="badge badge-info">{{element.message}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="transType">
        <th mat-header-cell *matHeaderCellDef>نوع الاشعار</th>
        <td mat-cell *matCellDef="let element; let x=index">
          <span class="badge badge-danger">{{element.messageTypeSysName}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>الحالة</th>
        <td mat-cell *matCellDef="let element; let x=index">
          <mat-icon *ngIf="element.readOnly == true" class="text-success">done</mat-icon>
          <mat-icon *ngIf="element.readOnly == false" class="text-danger">close</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let x=index">
          <a routerLink="" mat-mini-fab color="primary">
            <mat-icon>visibility</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let entry">

      </tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8"> {{'SHARE.MESSAGE.NOROWFOUND'|translate}} </td>
      </tr>
    </table>

    <mat-paginator [length]="totalRecord" [pageSize]="searchModel.PageSize" (page)="pageEvent($event)" [pageSizeOptions]="[50, 100, 150,200]"
      showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>


</div>