<h2 mat-dialog-title>

  <div class="d-flex justify-content-between align-items-center">
    <span class="fontsection">{{"DECLARATIONS.TITLES.ADDFINANCIALYEAR"|translate}}</span>
    <button class="col-md-1" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      <mat-icon>close</mat-icon>
    </button>
  </div>

</h2>
<mat-divider></mat-divider>

<form [formGroup]="financialForm" (ngSubmit)="addFinancialYear()">

  <mat-dialog-content style="z-index: -1;" class="mat-typography">
    <div class="row mx-0">
      <div class="col-md-12 mb-3">
        <mat-form-field appearance="outline">
          <mat-label> {{"DECLARATIONS.INPUTS.YEAR" | translate}} </mat-label>
          <input matInput placeholder="" name="year" formControlName="year">
          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'DECLARATIONS.INPUTS.YEAR' | translate},
                control: financialForm.controls['year']
              }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.YEAR' | translate , min:3},
                control: financialForm.controls['year']
              }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.YEAR' | translate , max:100},
                control: financialForm.controls['year']
               }"></ng-container>
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-3">
        <mat-form-field color="accent" appearance="fill">
          <mat-label>{{'DECLARATIONS.INPUTS.FROMDATE'|translate}}</mat-label>
          <input matInput [matDatepicker]="picker" (dateInput)="financialForm.patchValue({endDate:''})"
            [max]="financialForm.controls['endDate'].value" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'DECLARATIONS.INPUTS.FROMDATE' | translate},
              control: financialForm.controls['startDate']
            }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.FROMDATE' | translate , min:3},
              control: financialForm.controls['startDate']
            }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.FROMDATE' | translate , max:100},
                control: financialForm.controls['startDate']
             }"></ng-container>

          </mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-3">
        <mat-form-field color="accent" appearance="fill">
          <mat-label>{{'DECLARATIONS.INPUTS.TODATE'|translate}}</mat-label>
          <input matInput [matDatepicker]="picker1" [min]="financialForm.controls['startDate'].value" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>

          <mat-hint>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'DECLARATIONS.INPUTS.TODATE' | translate},
              control: financialForm.controls['endDate']
            }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.TODATE' | translate , min:3},
              control: financialForm.controls['endDate']
            }"></ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'DECLARATIONS.INPUTS.TODATE' | translate , max:100},
                control: financialForm.controls['endDate']
             }"></ng-container>

          </mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>


  <mat-dialog-actions>
    <div class="d-flex">
      <button mat-raised-button type="submit" (click)="saveButtonClickedFlag = true" [disabled]="loading" color="primary">{{'HR.BUTTONS.SAVE'|translate}}</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{'HR.BUTTONS.CLOSE'|translate}}</button>
    </div>
  </mat-dialog-actions>

</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>