<h2 mat-dialog-title>
	<span class="fontsection"> {{'HR.TITLES.BRANCHDATA'|translate}} </span>
</h2>

<mat-divider></mat-divider>
<form [formGroup]="branchDataForm" (ngSubmit)="Submit(branchDataForm.value)">


	<mat-dialog-content style="z-index: -1;" class="mat-typography">

		<input type="hidden" name="id" formControlName="id">
		<input type="hidden" name="clientData_Id" formControlName="clientData_Id">

		<div class="row mt-5">

			<div class="col-md-12">

				<div class="d-flex justify-content-start align-content-center">
					<mat-icon class="text-primary">home</mat-icon>
					<h1 class="fontsection text-primary fs-2 fw-bolder me-1 cursor-pointer">بيانات الاساسية للفرع
					</h1>
				</div>

				<div class="mb-5 border-bottom"></div>

				<div class="row">
					<div class="col-md-2">

						<mat-form-field appearance="outline">
							<mat-label> {{"HR.INPUTS.CODE" | translate}} </mat-label>
							<input matInput placeholder="Placeholder" name="code" formControlName="code">
							<mat-hint>
								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'required',
											  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.CODE' | translate},
											  control: branchDataForm.controls['code']
											}"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'minlength',
											  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.CODE' | translate , min:3},
											  control: branchDataForm.controls['code']
											}"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
												validation: 'maxlength',
												message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.CODE' | translate , max:100},
												control: branchDataForm.controls['code']
											 }"></ng-container>
							</mat-hint>
						</mat-form-field>

					</div>

					<div class="col-md-4">

						<mat-form-field appearance="outline">
							<mat-label> {{'HR.INPUTS.BRANCHNAME' | translate}}</mat-label>
							<input matInput placeholder="Placeholder" name="name" formControlName="name">
							<mat-hint>
								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									  validation: 'required',
									  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.BRANCHNAME' | translate},
									  control: branchDataForm.controls['name']
									}"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
	                                  validation: 'minlength',
	                                  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.BRANCHNAME' | translate , min:3},
	                                  control: branchDataForm.controls['name']
	                                }"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
	                                    validation: 'maxlength',
	                                    message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.BRANCHNAME' | translate , max:100},
	                                    control: branchDataForm.controls['name']
	                                 }"></ng-container>
							</mat-hint>
						</mat-form-field>

					</div>
					<div class="col-md-2">
						<mat-form-field appearance="outline">
							<mat-label>الاسم التجارى</mat-label>
							<input matInput placeholder="Placeholder" name="commercialName"
								formControlName="commercialName">
							<mat-hint>
								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'minlength',
											  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.ACTIVITY' | translate , min:3},
											  control: branchDataForm.controls['commercialName']
											}"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
												validation: 'maxlength',
												message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.ACTIVITY' | translate , max:100},
												control: branchDataForm.controls['commercialName']
											 }"></ng-container>
							</mat-hint>
						</mat-form-field>
					</div>


					<div class="col-md-2">

						<ng-select class="customized" [items]="dropdownListDataForState" bindLabel="Name" bindValue="Id"
							name="state_Id" placeholder="{{'HR.INPUTS.STATE' | translate}}" formControlName="state_Id"
							(change)="onItemSelectState($event)">
						</ng-select>

					</div>

					<div class="col-md-2">

						<ng-select class="customized" [items]="dropdownListDataForRegion" bindLabel="Name"
							bindValue="Id" name="region_Id" placeholder="{{'HR.INPUTS.REGION' | translate}}"
							id="region_Id" formControlName="region_Id">
						</ng-select>
						<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.REGION' | translate},
										  control: branchDataForm.controls['region_Id']
										}"></ng-container>
						</mat-hint>

					</div>


				</div>


				<div class="row">


					<div class="col-md-2">
						<mat-form-field appearance="outline">
							<mat-label>رقم الهاتف</mat-label>
							<input matInput placeholder="Placeholder" name="telephone" formControlName="telephone">
							<mat-hint>
								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									validation: 'required',
									message: 'AUTH.VALIDATION.REQUIRED' | translate :  {name:'' | translate },
									control: branchDataForm.controls['telephone']
								  }"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'minlength',
											  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'' | translate , min:7},
											  control: branchDataForm.controls['telephone']
											}"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
												validation: 'maxlength',
												message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'' | translate , max:7},
												control: branchDataForm.controls['telephone']
											 }"></ng-container>
								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
												validation: 'pattern',
												message: 'AUTH.VALIDATION.INVALID' | translate : {name:'' | translate},
												control: branchDataForm.controls['telephone']
											  }"></ng-container>
							</mat-hint>
						</mat-form-field>
					</div>
					<div class="col-md-2">
						<mat-form-field appearance="outline">
							<mat-label>موبيل الفرع</mat-label>
							<input matInput placeholder="Placeholder" name="mobile" formControlName="mobile">
							<mat-hint>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									validation: 'required',
									message: 'AUTH.VALIDATION.REQUIRED' | translate :  {name:'' | translate },
									control: branchDataForm.controls['mobile']
								  }"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'minlength',
											  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'' | translate , min:11},
											  control: branchDataForm.controls['mobile']
											}"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
												validation: 'maxlength',
												message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'' | translate , max:11},
												control: branchDataForm.controls['mobile']
											 }"></ng-container>
								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
												validation: 'pattern',
												message: 'AUTH.VALIDATION.INVALID' | translate : {name:'' | translate},
												control: branchDataForm.controls['mobile']
											  }"></ng-container>
							</mat-hint>
						</mat-form-field>
					</div>
					<div class="col-md-2">
						<mat-form-field appearance="outline">
							<mat-label>موبيل الفرع 2</mat-label>
							<input matInput placeholder="Placeholder" name="secondMobile"
								formControlName="secondMobile">
							<mat-hint>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									validation: 'required',
									message: 'AUTH.VALIDATION.REQUIRED' | translate :  {name:'' | translate },
									control: branchDataForm.controls['secondMobile']
								  }"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'minlength',
											  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'' | translate , min:11},
											  control: branchDataForm.controls['secondMobile']
											}"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
												validation: 'maxlength',
												message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'' | translate , max:11},
												control: branchDataForm.controls['secondMobile']
											 }"></ng-container>
								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
												validation: 'pattern',
												message: 'AUTH.VALIDATION.INVALID' | translate : {name:'' | translate},
												control: branchDataForm.controls['secondMobile']
											  }"></ng-container>
							</mat-hint>
						</mat-form-field>
					</div>

					<div class="col-md-2">
						<mat-form-field appearance="outline">
							<mat-label>موبيل مسؤول المبيعات</mat-label>
							<input matInput placeholder="Placeholder" name="managerMobile"
								formControlName="managerMobile">
							<mat-hint>


								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'minlength',
											  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'' | translate , min:11},
											  control: branchDataForm.controls['managerMobile']
											}"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
												validation: 'maxlength',
												message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'' | translate , max:11},
												control: branchDataForm.controls['managerMobile']
											 }"></ng-container>
								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
												validation: 'pattern',
												message: 'AUTH.VALIDATION.INVALID' | translate : {name:'' | translate},
												control: branchDataForm.controls['managerMobile']
											  }"></ng-container>
							</mat-hint>
						</mat-form-field>
					</div>
					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>اسم المسئول</mat-label>
							<input matInput placeholder="Placeholder" name="responsibleName"
								formControlName="responsibleName">
							<mat-hint>
								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									validation: 'required',
									message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'' | translate},
									control: branchDataForm.controls['responsibleName']
								  }"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'minlength',
											  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.ACTIVITY' | translate , min:3},
											  control: branchDataForm.controls['responsibleName']
											}"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
												validation: 'maxlength',
												message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.ACTIVITY' | translate , max:100},
												control: branchDataForm.controls['responsibleName']
											 }"></ng-container>
							</mat-hint>
						</mat-form-field>
					</div>
					<div class="col-md-4">

						<mat-form-field appearance="outline">
							<mat-label>{{'HR.INPUTS.ADDRESS' | translate}}</mat-label>
							<input matInput placeholder="" name="address" formControlName="address">
							<mat-hint>
								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									  validation: 'required',
									  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.ADDRESS' | translate},
									  control: branchDataForm.controls['address']
									}"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
	                                  validation: 'minlength',
	                                  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.ADDRESS' | translate , min:3},
	                                  control: branchDataForm.controls['address']
	                                }"></ng-container>

								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
	                                    validation: 'maxlength',
	                                    message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.ADDRESS' | translate , max:100},
	                                    control: branchDataForm.controls['address']
	                                 }"></ng-container>
							</mat-hint>
						</mat-form-field>

					</div>


					<div class="col-md-2 d-flex justify-content-center align-items-center">
						<section class="example-section">
							<span class="mx-2 fontForInputs"> فرع رئيسي

							</span>
							<mat-slide-toggle name="isMain" formControlName="isMain" class="example-margin"
								[color]="'red'">

							</mat-slide-toggle>
						</section>
					</div>
				</div>

			</div>

			<div class="col-md-12">

				<div class="d-flex justify-content-start align-content-center">
					<mat-icon class="text-primary">perm_phone_msg</mat-icon>
					<h1 class="fontsection text-primary fs-2 fw-bolder me-1 cursor-pointer">
						بيانات الموقع
					</h1>
				</div>

				<div class="mb-5 border-bottom">

				</div>


				<div class="row">
					<div class="col-md-3">

						<ng-select class="customized" [items]="dropdownPathRouteData" bindLabel="Name"
							bindValue="Id" name="pathRoute_Id" formControlName="pathRoute_Id" placeholder="خط السير">
						</ng-select>

					<!--	<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
				  validation: 'required',
				  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.REGION' | translate},
				  control: branchDataForm.controls['pathRoute_Id']
				}"></ng-container>
						</mat-hint>-->

					</div>

					<div class="col-md-3">

						<ng-select class="customized" [items]="dropdownTechnicianData" bindLabel="Name"
							bindValue="Id" name="technician_Id" formControlName="technician_Id" placeholder="الفنى">
						</ng-select>

					<!--	<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
						  validation: 'required',
						  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.REGION' | translate},
						  control: branchDataForm.controls['technician_Id']
						}"></ng-container>
						</mat-hint>-->

					</div>

					<div class="col-md-2 d-flex justify-content-center align-items-center">
						<section class="example-section">
							<span class="mx-2 fontForInputs">الفرع مكتمل البيانات
							</span>
							<mat-slide-toggle name="isCompletedData" formControlName="isCompletedData"
								class="example-margin" [color]="'red'">

							</mat-slide-toggle>
						</section>
					</div>

				</div>

			</div>

		</div>


		<br>

	</mat-dialog-content>

	<mat-dialog-actions>
		<div class="d-flex">
			<button mat-raised-button type="submit" (click)="submitClicked=true"
				color="primary">{{'HR.BUTTONS.SAVE'|translate}}</button>
			<button mat-button [mat-dialog-close]="true" cdkFocusInitial>close</button>
		</div>
	</mat-dialog-actions>

</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
	<ng-container *ngIf="control.hasError(validation)  && submitClicked">
		<div class="fv-plugins-message-container">
			<span role="alert">{{ message }}</span>
		</div>
	</ng-container>
</ng-template>