<h2 mat-dialog-title>
  <span class="fontsection"> {{"SHARE.TITLES.VIEWJOBSSECTION" | translate}} </span>
</h2>

<mat-divider></mat-divider>

<mat-dialog-content style="z-index: -1; height: 70%;" class="mat-typography">


  <div class="row mx-0 p-2" *ngFor="let element of jobData.jobs">
    <div class="col-md-9">
      <span>{{element.displayValue}}</span>
    </div>
    <div class="col-md-3">
      <mat-checkbox [(ngModel)]="element.isSelected"></mat-checkbox>
    </div>
    <mat-divider></mat-divider>
  </div>

  <div *ngIf="jobData.jobs.length==0" class="row mx-0 ">
    <span class="fontsection fs-2 p-3 text-center">{{'SHARE.MESSAGE.NOROWFOUND'|translate}}</span>
  </div>


</mat-dialog-content>

<mat-dialog-actions>
  <div class="d-flex">
    <button mat-raised-button type="submit" (click)="save()" color="primary">{{'SHARE.BUTTONS.SAVE'|translate}}</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>close</button>
  </div>
</mat-dialog-actions>