<form [formGroup]="userDataForm" (ngSubmit)="Submit()" dir="rtl">

    <h2 mat-dialog-title>

        <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="fontsection">{{'PERMISSIONS.TITLES.ADDNEWUSER'|translate}}</span>
            <button class="col-md-1" mat-button [mat-dialog-close]="true" cdkFocusInitial>
                <mat-icon>close</mat-icon>
            </button>
        </div>

    </h2>

    <mat-divider></mat-divider>

    <mat-dialog-content style="z-index: -1;" class="mat-typography">
        <div class="row">
            <div class="col-8 col-sm-12">
                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <div class="fv-row mb-7">
                            <label class="required fw-bold fs-6 mb-2">{{'PERMISSIONS.TITLES.EMPLOYEE'|translate}}</label>

                            <ng-select class="customized" [items]="employeeDropdown" bindLabel="Name" bindValue="Id" name="employeeId" id="employeeId"
                                placeholder="اختر الموظف" formControlName="employeeId">
                            </ng-select>

                            <mat-hint>
                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                                      validation: 'required',
                                                      message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'PERMISSIONS.TITLES.EMPLOYEE' | translate},
                                                      control: userDataForm.controls['employeeId']
                                                    }"></ng-container>
                            </mat-hint>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="fv-row mb-7">
                            <label class="required fw-bold fs-6 mb-2">الفروع</label>

                            <ng-select #areaselect [multiple]="true" appendTo="body" class="customized" [items]="branchDropdown" bindLabel="Name"
                                bindValue="Id" name="branch_Ids" id="branch_Ids" placeholder="أختر الفروع" formControlName="branch_Ids">
                            </ng-select>
                            <mat-hint>
                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                  validation: 'required',
                                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'الفروع' },
                                  control: userDataForm.controls['branch_Ids']
                                }"></ng-container>

                            </mat-hint>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="fv-row mb-7">
                            <label class="required fw-bold fs-6 mb-2">{{'PERMISSIONS.TITLES.EMAIL'|translate}}</label>
                            <input type="email" formControlName="email" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="" />
                            <mat-hint>
                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                                          validation: 'required',
                                                          message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'PERMISSIONS.TITLES.EMAIL' | translate},
                                                          control: userDataForm.controls['email']
                                                        }"></ng-container>

                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                                            validation: 'pattern',
                                                            message: 'AUTH.VALIDATION.INVALID_NUMBER' | translate : {name:'HR.INPUTS.EMAIL' | translate},
                                                            control: userDataForm.controls['email']
                                                          }"></ng-container>

                            </mat-hint>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="fv-row mb-7">
                            <label class="required fw-bold fs-6 mb-2">{{'PERMISSIONS.TITLES.PHONENUMBER'|translate}}</label>
                            <input type="text" formControlName="phoneNumber" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="" />
                            <mat-hint>
                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                                          validation: 'required',
                                                          message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'PERMISSIONS.TITLES.PHONENUMBER' | translate},
                                                          control: userDataForm.controls['phoneNumber']
                                                        }"></ng-container>

                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                                            validation: 'minlength',
                                                            message: 'AUTH.VALIDATION.MIN_VALUE_NUMBER' | translate : {name:'PERMISSIONS.TITLES.PHONENUMBER' | translate , min:10},
                                                            control: userDataForm.controls['phoneNumber']
                                                          }"></ng-container>

                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                                              validation: 'maxlength',
                                                              message: 'AUTH.VALIDATION.MAX_VALUE_NUMBER' | translate : {name:'PERMISSIONS.TITLES.PHONENUMBER' | translate , max:11},
                                                              control: userDataForm.controls['phoneNumber']
                                                           }"></ng-container>

                            </mat-hint>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="fv-row mb-7">
                            <label class="required fw-bold fs-6 mb-2">{{'PERMISSIONS.TITLES.FULLNAME'|translate}}</label>
                            <input type="text" formControlName="userName" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="" />
                            <mat-hint>
                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                                      validation: 'required',
                                                      message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'PERMISSIONS.TITLES.FULLNAME' | translate},
                                                      control: userDataForm.controls['userName']
                                                    }"></ng-container>

                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                                        validation: 'min',
                                                        message: 'AUTH.VALIDATION.MIN_VALUE_NUMBER' | translate : {name:'PERMISSIONS.TITLES.FULLNAME' | translate , min:3},
                                                        control: userDataForm.controls['userName']
                                                      }"></ng-container>

                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                                          validation: 'max',
                                                          message: 'AUTH.VALIDATION.MAX_VALUE_NUMBER' | translate : {name:'PERMISSIONS.TITLES.FULLNAME' | translate , max:100},
                                                          control: userDataForm.controls['userName']
                                                       }"></ng-container>

                            </mat-hint>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="fv-row mb-7">
                            <label class="required fw-bold fs-6 mb-2">{{'PERMISSIONS.TITLES.PASSWORD'|translate}}</label>
                            <input type="password" formControlName="password" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="" />
                            <mat-hint>
                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                                          validation: 'required',
                                                          message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'PERMISSIONS.TITLES.PASSWORD' | translate},
                                                          control: userDataForm.controls['password']
                                                        }"></ng-container>

                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                                            validation: 'minlength',
                                                            message: 'AUTH.VALIDATION.MIN_VALUE_NUMBER' | translate : {name:'PERMISSIONS.TITLES.PASSWORD' | translate , min:6},
                                                            control: userDataForm.controls['password']
                                                          }"></ng-container>

                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                                              validation: 'maxlength',
                                                              message: 'AUTH.VALIDATION.MAX_VALUE_NUMBER' | translate : {name:'PERMISSIONS.TITLES.PASSWORD' | translate , max:100},
                                                              control: userDataForm.controls['password']
                                                           }"></ng-container>

                            </mat-hint>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="fv-row mb-7">
                            <label class="required fw-bold fs-6 mb-2">{{'PERMISSIONS.TITLES.USERTYPE'|translate}}</label>

                            <ng-select class="customized" [searchable]="false" [items]="userTypeDropdown" bindLabel="Name" bindValue="Id"
                                name="userType_Id" id="userType_Id" placeholder="اختر نوع المستخدم" formControlName="userType_Id">
                            </ng-select>
                            <mat-hint>
                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                                      validation: 'required',
                                                      message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'PERMISSIONS.TITLES.USERTYPE' | translate},
                                                      control: userDataForm.controls['userType_Id']
                                                    }"></ng-container>
                            </mat-hint>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-4 col-sm-12">
                <div class="mb-7">

                    <label class="required fw-bold fs-6 mb-5">{{'PERMISSIONS.TITLES.ROLES'|translate}}</label>

                    <ng-container *ngFor="let role of rolesData;let i=index">
                        <div class="d-flex fv-row">
                            <div class="form-check form-check-custom form-check-solid">
                                <input class="form-check-input me-3" name="user_role" type="checkbox" [value]="role.id"
                                    id="kt_modal_update_role_option_{{i}}" [checked]='false' (change)="onCheckboxChange($event)" />
                                <label class="form-check-label" for="kt_modal_update_role_option_0">
                                    <div class="fw-bolder text-gray-800">{{role.name}}</div>
                                </label>
                            </div>
                        </div>
                        <div class='separator separator-dashed my-5'></div>
                    </ng-container>


                </div>
            </div>
        </div>
    </mat-dialog-content>


    <mat-dialog-actions>
        <div class="d-flex">
            <button mat-raised-button type="submit" (click)="saveButtonClickedFlag = true" [disabled]="loading"
                color="primary">{{'HR.BUTTONS.SAVE'|translate}}</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{'HR.BUTTONS.CLOSE'|translate}}</button>
        </div>
    </mat-dialog-actions>

</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
        <div class="fv-plugins-message-container">
            <span role="alert">
                {{ message }}
            </span>
        </div>
    </ng-container>
</ng-template>