<div class="card card-flush h-100">
  <div class="card-header pt-7 px-1 border-bottom-2 border">

    <div class="row mx-0 my-4 w-100">

      <div style="width: 130px;" >
        <mat-form-field appearance="outline">
          <mat-label> رقم الطلب</mat-label>
          <input #codeInput type="text" name="code" matInput>
          <mat-icon matSuffix (click)="getTransactionByCode(codeInput.value);clearSearch()" style="cursor: pointer;">search</mat-icon>
        </mat-form-field>
      </div>

      <div style="width: 150px;">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>{{'DECLARATIONS.INPUTS.FROMDATE'|translate}}</mat-label>
          <input matInput [matDatepicker]="startD" [max]="endDate" [(ngModel)]="startDate" (dateChange)="getOrdersByDate()">
          <mat-datepicker-toggle matSuffix [for]="startD"></mat-datepicker-toggle>
          <mat-datepicker #startD></mat-datepicker>
        </mat-form-field>
      </div>

      <div style="width: 150px;">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>{{'DECLARATIONS.INPUTS.TODATE'|translate}}</mat-label>
          <input matInput [matDatepicker]="endD" [min]="startDate" [(ngModel)]="endDate" (dateChange)="getOrdersByDate()">
          <mat-datepicker-toggle matSuffix [for]="endD"></mat-datepicker-toggle>
          <mat-datepicker #endD></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-2">
        <ng-select [items]="dropdownClientBranch" bindLabel="Name" bindValue="Id" [(ngModel)]="searchModel.ClientBranchId" placeholder="أختر الفرع"
          (change)="getOrdersData();searchModel.OrderCode=null" (clear)="getOrdersData();">
        </ng-select>
      </div>

      <div class="col-2">
        <ng-select [items]="dropdownOrderStatus" bindLabel="Name" bindValue="Id" [(ngModel)]="searchModel.OrderStatusId" placeholder="أختر الحالة"
          (change)="getOrdersData();searchModel.OrderCode=null" (clear)="getOrdersData();">
        </ng-select>
      </div>

      <div class="col-1">
        <button mat-mini-fab color="primary" matTooltip="اعادة الضبط" (click)="clearSearch()">
          <mat-icon>restart_alt</mat-icon>
        </button>
      </div>

    </div>

  </div>

  <div class="card-body p-0 pt-2">

    <table mat-table [dataSource]="data" multiTemplateDataRows>

      <ng-container matColumnDef="n">
        <th mat-header-cell *matHeaderCellDef class="fw-boldest w-50px text-start text-dark"> م</th>
        <td mat-cell *matCellDef="let element;let elementIndex=dataIndex">
          <span>{{elementIndex+1 }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="orderCode">
        <th mat-header-cell *matHeaderCellDef class="fw-boldest text-center fs-5  text-dark"> الكود</th>
        <td mat-cell *matCellDef="let element;let elementIndex=dataIndex" class="w-50px text-center">
          <span class="badge badge-info px-3 fs-5 mx-2"> {{element.orderCode }} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef class="fw-boldest w-50px text-center fs-5  text-dark"> التاريخ</th>
        <td mat-cell *matCellDef="let element;let elementIndex=dataIndex" class="text-center">
          <span class="badge badge-secondary px-3 fs-5 mx-2"> {{element.orderDate|date:'dd/MM/yyyy' }} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="clientBranch">
        <th mat-header-cell *matHeaderCellDef class="fw-boldest w-100px text-center fs-5  text-dark"> أسم الفرع</th>
        <td mat-cell *matCellDef="let element;let elementIndex=dataIndex" class="text-center">
          <span class="badge badge-primary px-3 fs-5 mx-2"> {{element.clientBranch }} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="orderEmployee">
        <th mat-header-cell *matHeaderCellDef class="fw-boldest w-100px text-center fs-5  text-dark"> الموطف</th>
        <td mat-cell *matCellDef="let element;let elementIndex=dataIndex" class="text-center">
          <span class="badge badge-secondary px-3 fs-5 mx-2"> {{element.orderEmployee }} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef class="fw-boldest text-center fs-5  text-dark"> الاجمالى</th>
        <td mat-cell *matCellDef="let element;let elementIndex=dataIndex" class="text-center">
          <span class="badge badge-secondary px-3 fs-5 mx-2"> {{element.totalPrice }} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="fw-boldest text-center fs-5  text-dark"> الحالة</th>
        <td mat-cell *matCellDef="let element;let elementIndex=dataIndex" class="text-center">
          <span class="badge badge-{{getActiveStatus(element.status).txtColor }} px-3 fs-5 mx-2"> {{getActiveStatus(element.status).name }} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef class="fw-boldest text-center fs-5  text-dark"> ملاحظات</th>
        <td mat-cell *matCellDef="let element;let elementIndex=dataIndex" class="text-center">
          <span class="badge badge-danger px-3 fs-5 mx-2" *ngIf="element.notes"> {{element.notes }} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="fw-boldest w-15px text-center">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row"
            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">

        <td mat-cell *matCellDef="let element;let elementIndex=dataIndex" [attr.colspan]="columnsToDisplayWithExpand.length">

          <div class="example-element-detail justify-content-center align-items-center d-block"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <mat-divider></mat-divider>

            <!-- style="border:2px solid rgb(187, 187, 187);" -->
            <table class="table" style="border:2px solid rgb(187, 187, 187);">
              <tr style="font-weight:bold;">
                <th rowspan="2" class="py-1"> م </th>
                <!-- <th rowspan="2"> كود </th> -->
                <th rowspan="2" class="w-150px"> الاسم </th>
                <th rowspan="2" class="w-100px badge-success"> الوحدة</th>
                <th rowspan="2" class="w-100px badge-info"> الكمية </th>
                <!-- <th rowspan="2" class="w-100px"> السعر</th> -->
                <th colspan="3" class="w-100px badge-primary">فى حالة عدم توافر الكميات</th>
                <th rowspan="2" class="w-150px"> ملاحظات</th>
                <!-- <th rowspan="2" class="w-150px"> الاجمالى</th> -->
              </tr>

              <tr style="border:2px solid rgb(187, 187, 187);">
                <th class="w-100px"> إرسال المتاح </th>
                <th class="w-100px"> إلغاء الصنف </th>
                <th class="w-100px px-1"> التوصيل على اكثر من مرة</th>
              </tr>

              <tr class="text-center p-1" *ngFor="let item of element.orderItems;let itemIndex = index" style="border: 2px solid rgb(187, 187, 187);">
                <td>{{itemIndex+1}}</td>
                <!-- <td>{{item.code}}</td> -->
                <td>{{item.itemName}}</td>
                <td>{{item.unitConversion}}</td>
                <td>{{item.quantity}}</td>
                <!-- <td>{{item.price|number : '1.0-2'}}</td> -->
                <td>
                  <mat-icon *ngIf="item.canChangeQuantity == true" class="text-success">done</mat-icon>
                  <mat-icon *ngIf="item.canChangeQuantity == false" class="text-danger">close</mat-icon>
                </td>
                <td>
                  <mat-icon *ngIf="item.canRefuse == true" class="text-success">done</mat-icon>
                  <mat-icon *ngIf="item.canRefuse == false" class="text-danger">close</mat-icon>
                </td>
                <td>
                  <mat-icon *ngIf="item.canScaduled == true" class="text-success">done</mat-icon>
                  <mat-icon *ngIf="item.canScaduled == false" class="text-danger">close</mat-icon>
                </td>
                <td> {{item.notes}}</td>
                <!-- <td>{{0}} </td> -->
              </tr>
              <!-- <tr>
                <td colspan="12" class="text-center"><span class="badge badge-light-info fs-5">الاجمالى : {{element.totalPrice}}</span></td>
              </tr> -->
            </table>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>


    <mat-paginator [length]="totalRecord" [pageSize]="searchModel.PageSize" (page)="pageEvent($event) " [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>

</div>