<ng-container *ngFor="let item of menu[0].childNode">
	<div class="menu-item" *ngIf="item.isLast==true&&item.isDeleted==false">
		<a class="menu-link without-sub" [routerLink]="item.route" routerLinkActive="active"><span class="menu-icon">
				<mat-icon style="font-size:25px;">{{item.icon}}</mat-icon>
			</span><span class="menu-title"> {{item.name}} </span>
		</a>
	</div>

	<ng-container *ngIf="item.isLast==false&&item.isDeleted==false&&(item.icon==''||item.icon==null)">
		<div class="menu-item">
			<div class="menu-content pb-2">
				<span class="text-muted text-uppercase fs-8" style="color: #009ef7 !important;">{{item.name}}</span>
			</div>
		</div>

		<ng-container *ngFor="let item of item.childNode">
			<div class="menu-item" *ngIf="item.isLast==true&&item.isDeleted==false">
				<a class="menu-link without-sub" [routerLink]="item.route" routerLinkActive="active"><span class="menu-icon">
						<mat-icon style="font-size:25px;">{{item.icon}}</mat-icon>
					</span><span class="menu-title"> {{item.name}} </span>
				</a>
			</div>


			<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
				*ngIf="item.isLast==false&&item.isDeleted==false&&(item.icon!=''||item.icon!=null)">
				<span class="menu-link"><span class="menu-icon">
						<mat-icon style="font-size:25px;">{{item.icon}}</mat-icon>
					</span>
					<span class="menu-title">{{item.name}}</span>
					<span class="menu-arrow"></span></span>
				<div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">

					<ng-container *ngFor="let item of item.childNode">
						<div class="menu-item" *ngIf="item.isDeleted==false">
							<a class="menu-link without-sub" routerLink="{{item.route}}" routerLinkActive="active">
								<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
								<span class="menu-title">{{item.name}} </span>
							</a>
						</div>
					</ng-container>

				</div>
			</div>
		</ng-container>
	</ng-container>

</ng-container>


<!-- Dashboard -->
<!-- <div class="menu-item">
  <a class="menu-link without-sub" routerLink="/share/state_region" routerLinkActive="active">
    <span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title"> {{"MENU.GOVERNORATESANDREGIONS" | translate}}</span>
  </a>
</div>
<div class="menu-item">
  <a class="menu-link without-sub" routerLink="/share/department_section" routerLinkActive="active"><span
      class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'" class="svg-icon svg-icon-2"></span>
    </span><span class="menu-title">{{"MENU.DEPARTMENTS" | translate}}</span></a>
</div> -->


<div class="menu-item">
	<a class="menu-link without-sub" routerLink="declarations/carexpenses" routerLinkActive="active">
		<span class="menu-icon">
			<span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
		</span>
		<span class="menu-title"> تعريف الصرفيات</span>
	</a>
</div>

<div class="menu-item">
	<a class="menu-link without-sub" routerLink="declarations/voucherSerial" routerLinkActive="active">
		<span class="menu-icon">
			<span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
		</span>
		<span class="menu-title"> دفاتر الفواتير </span>
	</a>
</div>

<div class="menu-item">
	<a class="menu-link without-sub" routerLink="car/carexpensetransaction" routerLinkActive="active">
		<span class="menu-icon">
			<span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
		</span>
		<span class="menu-title"> صرفيات السيارات </span>
	</a>
</div>


<div class="menu-item">
	<a class="menu-link without-sub" routerLink="declarations/transferingcompany" routerLinkActive="active">
		<span class="menu-icon">
			<span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
		</span>
		<span class="menu-title"> التحويلات </span>
	</a>
</div>

<div class="menu-item">
	<a class="menu-link without-sub" routerLink="declarations/carsmodels" routerLinkActive="active">
		<span class="menu-icon">
			<span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
		</span>
		<span class="menu-title"> موديلات السيارات </span>
	</a>
</div>

<div class="menu-item">
	<a class="menu-link without-sub" routerLink="items/unitconversion" routerLinkActive="active">
		<span class="menu-icon">
			<span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
		</span>
		<span class="menu-title"> الوحدات الفرعية </span>
	</a>
</div>

<div class="menu-item">
	<a class="menu-link without-sub" routerLink="declarations/clientcategory" routerLinkActive="active">
		<span class="menu-icon">
			<span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
		</span>
		<span class="menu-title"> تصنيف العميل </span>
	</a>
</div>


<div class="menu-item">
	<a class="menu-link without-sub" routerLink="vendor/activity" routerLinkActive="active">
		<span class="menu-icon">
			<span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
		</span>
		<span class="menu-title"> تعريف نشاط الموردين</span>
	</a>
</div>



<div class="menu-item">
	<a class="menu-link without-sub" routerLink="vendor/classification" routerLinkActive="active">
		<span class="menu-icon">
			<span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
		</span>
		<span class="menu-title"> تصنيف الموردين</span>
	</a>
</div>



<div class="menu-item">
	<a class="menu-link without-sub" routerLink="vendor/maincompany" routerLinkActive="active">
		<span class="menu-icon">
			<span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
		</span>
		<span class="menu-title">تعريف شركات الموردين</span>
	</a>
</div>



<div class="menu-item">
	<a class="menu-link without-sub" routerLink="vendor/vendorlist" routerLinkActive="active">
		<span class="menu-icon">
			<span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
		</span>
		<span class="menu-title"> تعريف الموردين</span>
	</a>
</div>

<div class="menu-item">
	<a class="menu-link without-sub" routerLink="/items/itemcategory" routerLinkActive="active">
		<span class="menu-icon">
			<span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
		</span>
		<span class="menu-title">التصنيفات والاصناف </span>
	</a>
</div>

<div class="menu-item">
	<a class="menu-link without-sub" routerLinkActive="active" routerLink="/permissions/managemenu">
		<span class="menu-icon">
			<mat-icon style="font-size:25px;">admin_panel_settings</mat-icon>
		</span>
		<span class="menu-title">اعدادات القائمة</span>
	</a>
</div>