.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.10rem
}

.card-header:first-child {
    // border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
}



.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 20%;
    margin-top: -22px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #FF5722;
    font-weight: bold;
    
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 22px
}

.track .step.active .icon {
    background: #ee5435;
    color: rgb(255, 255, 255)
}

.track .step.active i {
    background: #ee5435;
    color: rgb(255, 255, 255)
}

.track .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 60px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .step.active .text.text1 {
    font-weight: bold;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px
}

.track .text.date {
    margin-inline-start: 20px;
    position: absolute;
    top: -28px;
}