<h2 mat-dialog-title class="m-0 mb-2">

  <div class="d-flex justify-content-between align-items-center">
    <span class="fontsection">طلب جديد</span>
    <button class="col-md-1" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      <mat-icon>close</mat-icon>
    </button>
  </div>

</h2>
<mat-divider></mat-divider>


<mat-dialog-content style="z-index: -1;" class="mat-typography" style="min-height: 85vh;overflow-y: auto;">

  <mat-card class="mat-elevation-z5 p-0 mt-2 px-2">
    <form [formGroup]="masterForm" (ngSubmit)="addRiffle()" class="row">

      <div class="col-3 pb-3">
        <ng-select  [items]="dropdownClient" bindLabel="Name" bindValue="Id" placeholder="أختر العميل" formControlName="Client_Id"
         (change)="onSelectClient($event)" (clear)="dropdownClientBranch=[];masterForm.get('ClientBranch_Id')?.setValue(null)">
        </ng-select>
        <mat-hint>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'العميل'},
          control: masterForm.controls['Client_Id']}">
          </ng-container>
        </mat-hint>
      </div>

      <div class="col-3 pb-3">
        <ng-select  [items]="dropdownClientBranch" bindLabel="Name" placeholder="أختر الفرع" formControlName="ClientBranch_Id">
        </ng-select>
        <mat-hint>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'الفرع'},
          control: masterForm.controls['ClientBranch_Id']}">
          </ng-container>
        </mat-hint>
      </div>

      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label> ملاحظات</mat-label>
          <input matInput type="number" placeholder="" name="number" formControlName="Notes">
        </mat-form-field>
      </div>

      <div class="col-3 d-flex align-items-center">
        <button mat-raised-button type="submit" (click)="saveButtonClickedFlag = true;" [disabled]="loading" color="primary" class="w-100px">اتمام
          الطلب</button>
      </div>

    </form>
  </mat-card>

  <mat-card class="mat-elevation-z3 mt-2">
    <div class="row">
      <div class="col-5">
        <mat-form-field class="input-search" appearance="outline">
          <mat-label>بحث باسم المنتج </mat-label>
          <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="searchItem" #text (input)="inputAutoComplete(text.value)">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayinputAutoComplete" (optionSelected)="onSelectedAutoComplete($event)">
            <mat-option *ngFor="let option of autoCompleteItems" [value]="option">
              {{option.Name}}
            </mat-option>
          </mat-autocomplete>
          <mat-spinner matSuffix [diameter]="40" [hidden]="!itemLoader"></mat-spinner>
          <!-- <mat-icon matSuffix style="cursor: pointer;">search</mat-icon> -->
        </mat-form-field>
      </div>
      <div class="col-7"></div>

      <!-- <form [formGroup]="detailsForm" (ngSubmit)="AddItem()" class="col-12">

        <div class="row">
          <div class="col-3">
            <ng-select [items]="[]" bindLabel="convertedUnitName" bindValue="unitConversionId" placeholder="اختر الوحدة المنفذ بها"
              formControlName="unit" dropdownPosition="top">
            </ng-select>
            <mat-hint>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'اختر الوحدة المنفذ بها'},
                  control: detailsForm.controls['unit']}">
              </ng-container>
            </mat-hint>
          </div>

          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label> {{"الكمية المنفذة" | translate}} </mat-label>
              <input matInput type="number" name="quantity" formControlName="quantity" (keydown)="restrictZero($event)">
              <mat-hint>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'الكمية المنفذة' },
              control: detailsForm.controls['quantity']
            }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'AUTH.VALIDATION.INVALID' | translate : {name:'الكمية المنفذة' },
              control:  detailsForm.controls['quantity']
              }"></ng-container>
              </mat-hint>
            </mat-form-field>
          </div>

             <div class="col-2 d-flex align-items-center justify-content-center">
            <mat-checkbox name="CanChangeQuantity" formControlName="CanChangeQuantity" class="mx-2 fontForInputs">تغيير الكمية</mat-checkbox>
          </div>
          <div class="col-2 d-flex align-items-center justify-content-center">
            <mat-checkbox name="CanScaduled" formControlName="CanScaduled" class="mx-2 fontForInputs">التوصيل على اكثر من مرة</mat-checkbox>
          </div>
          <div class="col-2 d-flex align-items-center justify-content-center">
            <mat-checkbox name="CanRefuse" formControlName="CanRefuse" class="mx-2 fontForInputs">امكانية الرفض </mat-checkbox>
          </div>


          <div class="col-1">
            <button matTooltip="{{'TRANSACTIONS.BUTTONS.ADD'|translate}}" mat-mini-fab color="primary" class="mx-md-1"
              aria-label="Example icon button with a filter list icon">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

      </form> -->


      <div class="col-12 border-top-2 border">

        <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

          <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">

            <th style="font-weight:bold;" [ngSwitch]="column" mat-header-cell *matHeaderCellDef class="w-100px text-start">
              <span *ngSwitchCase="'n'"> م</span>
              <span *ngSwitchCase="'branchName'"> أسم الفرع</span>
              <span *ngSwitchCase="'action'"></span>
            </th>

            <td class="text-start" mat-cell [ngSwitch]="column" *matCellDef="let element;let elementIndex=dataIndex">
              <span *ngSwitchCase="'n'"> {{elementIndex+1 }} </span>
              <span class="badge badge-info" *ngSwitchCase="'branchName'"> {{element[column] }} </span>
              <span *ngSwitchCase="'action'"></span>
            </td>
          </ng-container>

          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">

            <td mat-cell *matCellDef="let element;let elementIndex=dataIndex" [attr.colspan]="columnsToDisplayWithExpand.length">

              <div class="example-element-detail justify-content-center align-items-center d-block"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <mat-divider></mat-divider>

                <!-- style="border:2px solid rgb(187, 187, 187);" -->
                <table class="table" style="border:2px solid rgb(187, 187, 187);">
                  <tr>
                    <th rowspan="2" class="trpadding"> م </th>
                    <th rowspan="2" class="trpadding"> كود </th>
                    <th rowspan="2" class="w-125px"> الاسم </th>
                    <th rowspan="2" class="w-125px"> التصنيف</th>
                    <!-- <th rowspan="2"> الباركود</th> -->
                    <th rowspan="2"> السعر</th>
                    <th colspan="2" class="badge-success"> الكمية المنفذ بها</th>
                    <!-- <th colspan="3" class="badge-primary"> الكمية بعد التحويل</th> -->
                    <th colspan="4" class="badge-info"> الكمية المستلمة</th>
                    <th rowspan="2" class=" "> ملاحظات</th>
                  </tr>
                  <tr style="border: 2px solid rgb(187, 187, 187);">
                    <th class="w-50px">الوحدة</th>
                    <th>الكمية </th>

                    <!-- <th>الوحدة</th>
                    <th>المعامل</th>
                    <th>الكمية </th> -->

                    <th>الوحدة</th>
                    <th>الكمية</th>
                    <th class="w-75px">المستلم</th>
                    <th> المتبقى </th>
                  </tr>

                  <tr class="text-center p-1" *ngFor="let x of element.stockTransDetails;let item = index"
                    style="border: 2px solid rgb(187, 187, 187);">
                    <td>{{item+1}}</td>
                    <td>{{x.itemCode}}</td>
                    <td>{{x.itemName}}</td>
                    <td>{{x.categoryName}}</td>
                    <!-- <td>{{x.itemBarCode}}</td> -->
                    <td>{{x.price|number : '1.0-2'}}</td>
                    <td>{{x.preConvertedUnitName}}</td>
                    <td>{{x.preConvertedQuantity|number : '1.0-2'}}</td>
                    <!-- <td>{{x.baseUnitName}}</td>
                    <td>x</td>
                    <td>{{x.baseQuantity}}</td> -->
                    <td>
                      <ng-select #Stock class="transdrop p-1" [items]="x.unitConversions" bindLabel="convertedUnitName" [(ngModel)]="x.convertedUnits"
                        placeholder="أختر الوحدة" appendTo="body" [clearable]="false">
                      </ng-select>
                    </td>
                    <td> {{x.quantity|number : '1.0-2'}} </td>
                    <td><input type="number" class="form-control p-1" [(ngModel)]="x.receivedQuantity" (keydown)="restrictZero($event)"></td>
                    <td> {{x.remainingQuantity|number : '1.0-2'}} </td>
                    <td>
                      <input type="text" class="form-control p-1" [(ngModel)]="x.receivedNotes" placeholder="ملاحظات">
                    </td>
                  </tr>
                </table>

              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

      </div>
    </div>
  </mat-card>

</mat-dialog-content>




<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>