<h2 mat-dialog-title class="m-0 mb-2">

  <div class="d-flex justify-content-between align-items-center">
    <span class="fontsection">طلب جديد</span>
    <button class="col-md-1" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      <mat-icon>close</mat-icon>
    </button>
  </div>

</h2>
<mat-divider></mat-divider>


<mat-dialog-content style="z-index: -1;" class="mat-typography" style="min-height: 85vh;overflow-y: auto;">

  <mat-card class="mat-elevation-z5 p-0 mt-2 px-2">
    <form [formGroup]="masterForm" (ngSubmit)="addRiffle()" class="row">

      <div class="col-3 pb-3">
        <ng-select [items]="dropdownClient" bindLabel="Name" bindValue="Id" placeholder="أختر العميل" formControlName="Client_Id"
          (change)="onSelectClient($event)" (clear)="dropdownClientBranch=[];">
        </ng-select>
        <mat-hint>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'العميل'},
          control: masterForm.controls['Client_Id']}">
          </ng-container>
        </mat-hint>
      </div>

      <div class="col-3 pb-3">
        <ng-select [items]="dropdownClientBranch" [multiple]="true" bindLabel="Name" placeholder="أختر الفرع" formControlName="ClientBranch_Id">
        </ng-select>
        <mat-hint>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'الفرع'},
          control: masterForm.controls['ClientBranch_Id']}">
          </ng-container>
        </mat-hint>
      </div>

      <div class="col-6 d-flex justify-content-end align-items-center pe-11">
        <button mat-raised-button type="submit" (click)="saveButtonClickedFlag = true;" [disabled]="loading" color="primary" class="w-100px">اتمام
          الطلب</button>
      </div>

    </form>
  </mat-card>

  <mat-card class="mat-elevation-z3 mt-2">
    <div class="row">
      <div class="col-5">
        <mat-form-field class="input-search" appearance="outline">
          <mat-label>بحث باسم المنتج </mat-label>
          <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="searchItem" #text (input)="inputAutoComplete(text.value)">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayinputAutoComplete" (optionSelected)="onSelectedAutoComplete($event)">
            <mat-option *ngFor="let option of autoCompleteItems" [value]="option">
              {{option.Name}}
            </mat-option>
          </mat-autocomplete>
          <mat-spinner matSuffix [diameter]="40" [hidden]="!itemLoader"></mat-spinner>
          <!-- <mat-icon matSuffix style="cursor: pointer;">search</mat-icon> -->
        </mat-form-field>
      </div>

      <div class="col-3">
        <ng-select  [items]="item.convertedUnits" bindLabel="convertedUnitName" [(ngModel)]="item.convertedUnit"
          placeholder="أختر الوحدة" appendTo="body" [clearable]="false">
        </ng-select>
      </div>

      <div class="col-2">
        <mat-form-field appearance="outline">
          <mat-label> الكمية</mat-label>
          <input matInput type="number" placeholder="" [(ngModel)]="item.quantity" (keydown)="restrictZero($event)">
        </mat-form-field>
      </div>

      <div class="col-2">
        <button mat-mini-fab matTooltip="اضافة صنف" color="primary" (click)="AddItem()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="col-12 border-top-2 border">

        <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

          <ng-container matColumnDef="n">
            <th mat-header-cell *matHeaderCellDef class="fw-boldest w-100px text-start text-dark"> م</th>
            <td mat-cell *matCellDef="let element;let elementIndex=dataIndex">
              <span>{{elementIndex+1 }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="branchName">
            <th mat-header-cell *matHeaderCellDef class="fw-boldest text-center fs-5  text-dark"> أسم الفرع</th>
            <td mat-cell *matCellDef="let element;let elementIndex=dataIndex" class="text-center">
              <span class="badge badge-secondary px-3 fs-5"> {{element.branchName }} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef class="fw-boldest text-center fs-5  text-dark"> ملاحظات</th>
            <td mat-cell *matCellDef="let element;let elementIndex=dataIndex" class="text-center w-400px">
              <input type="text" class="form-control " [(ngModel)]="element.notes" placeholder="ملاحظات">
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="w-100px"> </th>
            <td mat-cell *matCellDef="let element;let elementIndex=dataIndex" class="ps-6">
              <button mat-mini-fab matTooltip="حذف فرع" aria-label="expand row" (click)="deleteOrder(elementIndex)" class="bg-danger">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="fw-boldest w-15px text-center">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">

            <td mat-cell *matCellDef="let element;let elementIndex=dataIndex" [attr.colspan]="columnsToDisplayWithExpand.length">

              <div class="example-element-detail justify-content-center align-items-center d-block"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <mat-divider></mat-divider>

                <!-- style="border:2px solid rgb(187, 187, 187);" -->
                <table class="table" style="border:2px solid rgb(187, 187, 187);">
                  <tr style="font-weight:bold;">
                    <th rowspan="2" class="py-1"> م </th>
                    <th rowspan="2" class="w-100px"> كود </th>
                    <th rowspan="2"> الاسم </th>
                    <th rowspan="2" class="w-100px badge-success"> الوحدة</th>
                    <th rowspan="2" class="w-100px badge-info"> الكمية </th>
                    <!-- <th rowspan="2" class="w-100px"> السعر</th> -->
                    <th colspan="3" class="w-100px badge-primary">فى حالة عدم توافر الكميات</th>
                    <th rowspan="2" class="w-150px"> ملاحظات</th>
                    <!-- <th rowspan="2" class="w-150px"> الاجمالى</th> -->
                    <th rowspan="2"></th>
                  </tr>

                  <tr style="border:2px solid rgb(187, 187, 187);">
                    <th class="w-100px"> إرسال المتاح </th>
                    <th class="w-100px"> إلغاء الصنف </th>
                    <th class="w-100px px-1"> التوصيل على اكثر من مرة</th>
                  </tr>

                  <tr class="text-center p-1" *ngFor="let item of element.items;let itemIndex = index" style="border: 2px solid rgb(187, 187, 187);">
                    <td>{{itemIndex+1}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    <td>
                      <ng-select class="transdrop p-1" [items]="item.convertedUnits" bindLabel="convertedUnitName" [(ngModel)]="item.convertedUnit"
                        placeholder="أختر الوحدة" appendTo="body" [clearable]="false" (change)="inputQuantity(item,elementIndex,itemIndex)">
                      </ng-select>
                    </td>
                    <td><input type="number" class="form-control p-1" [(ngModel)]="item.quantity" (input)="inputQuantity(item,elementIndex,itemIndex)"
                        (keydown)="restrictZero($event)"></td>
                    <!-- <td>{{item.price|number : '1.0-2'}}</td> -->
                    <td>
                      <mat-checkbox color="primary" [(ngModel)]="item.CanChangeQuantity"></mat-checkbox>
                    </td>
                    <td>
                      <mat-checkbox color="primary" [(ngModel)]="item.CanRefuse"></mat-checkbox>
                    </td>
                    <td>
                      <mat-checkbox color="primary" [(ngModel)]="item.CanScaduled"></mat-checkbox>
                    </td>
                    <td>
                      <input type="text" class="form-control p-1" [(ngModel)]="item.notes" placeholder="ملاحظات">
                    </td>
                    <!-- <td>{{item.total}} </td> -->
                    <td>
                      <mat-icon (click)="deleteItem(elementIndex,itemIndex)" class="text-danger p-0">delete</mat-icon>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td colspan="12" class="text-center"><span class="badge badge-light-info fs-5">الاجمالى : {{element.total}}</span></td>
                  </tr> -->
                </table>

              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

      </div>
    </div>
  </mat-card>

</mat-dialog-content>




<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>