<h2 mat-dialog-title>

	<div class="d-flex justify-content-between align-items-center">

		<span class="fontsection">{{'HR.TITLES.COMPANYDATA1'|translate}} </span>
		<button class="col-md-1" mat-button [mat-dialog-close]="true" cdkFocusInitial>
			<mat-icon>close</mat-icon>
		</button>

	</div>

</h2>


<mat-divider></mat-divider>

<form [formGroup]="clientDataForm" (ngSubmit)="Submit(clientDataForm.value)">

	<mat-dialog-content style="z-index: -1;" class="mat-typography">

		<br>
		<br>

		<div class="d-flex justify-content-start align-content-center">
			<mat-icon class="text-primary">contacts</mat-icon>
			<h1 class="fontsection text-primary fs-2 fw-bolder me-1 cursor-pointer">
				بيانات العميل
			</h1>
		</div>

		<div class="mb-5 border-bottom">
		</div>


		<input type="hidden" name="id" formControlName="id">

		<div class="col-md-12">


			<div class="row  mt-5">

				<div class="col-md-2">

					<mat-form-field appearance="outline">
						<mat-label> {{"HR.INPUTS.CODE" | translate}} </mat-label>
						<input matInput placeholder="Placeholder" name="Code" formControlName="Code">
						<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.CODE' | translate},
										  control: clientDataForm.controls['Code']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.CODE' | translate , min:3},
										  control: clientDataForm.controls['Code']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.CODE' | translate , max:100},
											control: clientDataForm.controls['Code']
										 }"></ng-container>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'pattern',
											message: 'AUTH.VALIDATION.INVALID_NUMBER' | translate : {name:'' | translate},
											control: clientDataForm.controls['Code']
										  }"></ng-container>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'min',
											message: 'AUTH.VALIDATION.MIN_VALUE_NUMBER' | translate : {name:'' | translate , min:0},
											control: clientDataForm.controls['Code']
										  }"></ng-container>
						</mat-hint>
					</mat-form-field>

				</div>

				<div class="col-md-3">

					<mat-form-field appearance="outline">
						<mat-label> اسم العميل </mat-label>
						<input matInput placeholder="Placeholder" name="name" formControlName="name">
						<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'' | translate},
										  control: clientDataForm.controls['name']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'' | translate , min:3},
										  control: clientDataForm.controls['name']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'' | translate , max:100},
											control: clientDataForm.controls['name']
										 }"></ng-container>
						</mat-hint>
					</mat-form-field>

				</div>

				<div class="col-md-2">
					<mat-form-field appearance="outline">
						<mat-label>الاسم التجارى</mat-label>
						<input matInput placeholder="Placeholder" name="CommercialName"
							formControlName="CommercialName">
						<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.ACTIVITY' | translate , min:3},
										  control: clientDataForm.controls['CommercialName']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.ACTIVITY' | translate , max:100},
											control: clientDataForm.controls['CommercialName']
										 }"></ng-container>
						</mat-hint>
					</mat-form-field>
				</div>
				<div class="col-md-2">

					<div class="row">

						<div class="col-md-12">
							<ng-select class="customized" [items]="dropdownListDataForState" bindLabel="Name"
								bindValue="Id" name="state_Id" placeholder="{{'HR.INPUTS.STATE' | translate}}"
								formControlName="state_Id" (change)="onItemSelectState($event)">
							</ng-select>

						</div>
					</div>
				</div>
				<div class="col-md-2">

					<div class="row">

						<div class="col-md-12">

							<ng-select class="customized" [items]="dropdownListDataForRegion" bindLabel="Name"
								bindValue="Id" name="region_Id" placeholder="{{'HR.INPUTS.REGION' | translate}}"
								id="region_Id" formControlName="region_Id">
							</ng-select>

							<mat-hint>
								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'required',
											  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.REGION' | translate},
											  control: clientDataForm.controls['region_Id']
											}"></ng-container>

							</mat-hint>

						</div>
					</div>
				</div>


			</div>


			<div class="row">


				<div class="col-md-2">
					<mat-form-field appearance="outline">
						<mat-label>اسم المسئول</mat-label>
						<input matInput placeholder="Placeholder" name="responsibleName"
							formControlName="responsibleName">
						<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
								validation: 'required',
								message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'' | translate},
								control: clientDataForm.controls['responsibleName']
							  }"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.ACTIVITY' | translate , min:3},
										  control: clientDataForm.controls['responsibleName']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.ACTIVITY' | translate , max:100},
											control: clientDataForm.controls['responsibleName']
										 }"></ng-container>
						</mat-hint>
					</mat-form-field>
				</div>

				<div class="col-md-3">
					<mat-form-field appearance="outline">
						<mat-label>{{'HR.INPUTS.ACTIVITY'|translate}}</mat-label>
						<input matInput placeholder="Placeholder" name="activity" formControlName="activity">
						<mat-hint>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.ACTIVITY' | translate , min:3},
										  control: clientDataForm.controls['activity']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.ACTIVITY' | translate , max:100},
											control: clientDataForm.controls['activity']
										 }"></ng-container>
						</mat-hint>
					</mat-form-field>
				</div>


				<div class="col-md-2">
					<mat-form-field appearance="outline">
						<mat-label>رقم الهاتف</mat-label>
						<input matInput placeholder="Placeholder" maxlength="7" minlength="7" name="telephone"
							formControlName="telephone">
						<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
								validation: 'required',
								message: 'AUTH.VALIDATION.REQUIRED' | translate :  {name:'' | translate },
								control: clientDataForm.controls['telephone']
							  }"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'' | translate , min:7},
										  control: clientDataForm.controls['telephone']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'' | translate , max:7},
											control: clientDataForm.controls['telephone']
										 }"></ng-container>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'pattern',
											message: 'AUTH.VALIDATION.INVALID' | translate : {name:'' | translate},
											control: clientDataForm.controls['telephone']
										  }"></ng-container>
						</mat-hint>
					</mat-form-field>
				</div>


				<div class="col-md-2">
					<mat-form-field appearance="outline">
						<mat-label>موبيل الفرع</mat-label>
						<input matInput placeholder="Placeholder" maxlength="11" minlength="11" name="mobile"
							formControlName="mobile">
						<mat-hint>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
								validation: 'required',
								message: 'AUTH.VALIDATION.REQUIRED' | translate :  {name:'' | translate },
								control: clientDataForm.controls['mobile']
							  }"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'' | translate , min:11},
										  control: clientDataForm.controls['mobile']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'' | translate , max:11},
											control: clientDataForm.controls['mobile']
										 }"></ng-container>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'pattern',
											message: 'AUTH.VALIDATION.INVALID' | translate : {name:'' | translate},
											control: clientDataForm.controls['mobile']
										  }"></ng-container>
						</mat-hint>
					</mat-form-field>
				</div>
				<div class="col-md-2">
					<mat-form-field appearance="outline">
						<mat-label>موبيل الفرع 2</mat-label>
						<input matInput placeholder="Placeholder" maxlength="11" minlength="11" name="secondMobile"
							formControlName="secondMobile">
						<mat-hint>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
								validation: 'required',
								message: 'AUTH.VALIDATION.REQUIRED' | translate :  {name:'' | translate },
								control: clientDataForm.controls['secondMobile']
							  }"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'' | translate , min:11},
										  control: clientDataForm.controls['secondMobile']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'' | translate , max:11},
											control: clientDataForm.controls['secondMobile']
										 }"></ng-container>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'pattern',
											message: 'AUTH.VALIDATION.INVALID' | translate : {name:'' | translate},
											control: clientDataForm.controls['secondMobile']
										  }"></ng-container>
						</mat-hint>
					</mat-form-field>
				</div>



				<div class="col-md-2">
					<mat-form-field appearance="outline">
						<mat-label>موبيل مسؤول المبيعات</mat-label>
						<input matInput placeholder="Placeholder" maxlength="11" minlength="11" name="managerMobile"
							formControlName="managerMobile">
						<mat-hint>


							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'' | translate , min:11},
										  control: clientDataForm.controls['managerMobile']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'' | translate , max:11},
											control: clientDataForm.controls['managerMobile']
										 }"></ng-container>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'pattern',
											message: 'AUTH.VALIDATION.INVALID' | translate : {name:'' | translate},
											control: clientDataForm.controls['managerMobile']
										  }"></ng-container>
						</mat-hint>
					</mat-form-field>
				</div>

				<div class="col-md-2">

					<div class="row ">

						<div class="col-md-12">
							<ng-select class="customized" [items]="dropdownCategoryData" bindLabel="Name" bindValue="Id"
								name="clientCategory_Id" placeholder="تصنيف العميل" formControlName="clientCategory_Id">
							</ng-select>
							<mat-hint>
								<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											  validation: 'required',
											  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:' تصنيف العميل' | translate},
											  control: clientDataForm.controls['clientCategory_Id']
											}"></ng-container>

							</mat-hint>
						</div>
					</div>
				</div>
				<div class="col-md-3">

					<mat-form-field appearance="outline">
						<mat-label>{{'HR.INPUTS.ADDRESS' | translate}}</mat-label>
						<input matInput placeholder="Placeholder" name="address" formControlName="address">
						<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'' | translate},
										  control: clientDataForm.controls['address']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'' | translate , min:3},
										  control: clientDataForm.controls['address']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'' | translate , max:100},
											control: clientDataForm.controls['address']
										 }"></ng-container>
						</mat-hint>
					</mat-form-field>

				</div>

				<div class="col-md-2 d-flex justify-content-center align-items-center">
					<section class="example-section">
						<span class="mx-2 fontForInputs">{{'HR.INPUTS.ISACTIVE' | translate}}
						</span>
						<mat-slide-toggle name="isActive" formControlName="isActive" class="example-margin"
							[color]="'red'">

						</mat-slide-toggle>
					</section>
				</div>
				<div class="col-md-2 d-flex justify-content-center align-items-center">
					<section class="example-section">
						<span class="mx-2 fontForInputs"> اضافة فرع رئيسي
						</span>
						<mat-slide-toggle name="isAddedClientBranch" formControlName="isAddedClientBranch"
							class="example-margin" [color]="'red'">

						</mat-slide-toggle>
					</section>
				</div>

			</div>




		</div>


		<br>

		<div class="d-flex justify-content-start align-content-center">
			<mat-icon class="text-primary">library_books</mat-icon>
			<h1 class="fontsection text-primary fs-2 fw-bolder me-1 cursor-pointer">
				البيانات الضريبية
			</h1>
		</div>

		<div class="mb-5 border-bottom">
		</div>

		<!--<div class="col-md-4">
					<mat-form-field appearance="outline">
						<mat-label> {{'HR.INPUTS.PHONENUM' | translate}}</mat-label>
						<input matInput placeholder="01147785..." minlength="3" maxlength="11" name="phoneNumber"
							formControlName="phoneNumber">
						<mat-hint>
							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'required',
										  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.PHONENUM' | translate},
										  control: clientDataForm.controls['phoneNumber']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										  validation: 'minlength',
										  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'HR.INPUTS.PHONENUM' | translate , min:3},
										  control: clientDataForm.controls['phoneNumber']
										}"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'maxlength',
											message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'HR.INPUTS.PHONENUM' | translate , max:11},
											control: clientDataForm.controls['phoneNumber']
										 }"></ng-container>

							<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
											validation: 'pattern',
											message: 'AUTH.VALIDATION.INVALID' | translate : {name:'HR.INPUTS.PHONENUM' | translate},
											control: clientDataForm.controls['phoneNumber']
										  }"></ng-container>

						</mat-hint>

					</mat-form-field>
				</div>-->


		<div class="row  mt-5">

			<div class="col-md-2">
				<mat-form-field appearance="outline">
					<mat-label>{{'HR.INPUTS.COMMERCIALRECORD' | translate}} </mat-label>
					<input matInput placeholder="Placeholder" name="commercialRecord"
						formControlName="commercialRecord">
					<mat-hint>
						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									  validation: 'required',
									  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'' | translate},
									  control: clientDataForm.controls['commercialRecord']
									}"></ng-container>

						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									  validation: 'minlength',
									  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'' | translate , min:3},
									  control: clientDataForm.controls['commercialRecord']
									}"></ng-container>

						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'maxlength',
										message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'' | translate , max:50},
										control: clientDataForm.controls['commercialRecord']
									 }"></ng-container>

						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'pattern',
										message: 'AUTH.VALIDATION.INVALID' | translate : {name:'' | translate},
										control: clientDataForm.controls['commercialRecord']
									  }"></ng-container>

					</mat-hint>

				</mat-form-field>
			</div>

			<div class="col-md-2">
				<mat-form-field appearance="outline">
					<mat-label>رقم تسجيل ض.ق	   </mat-label>
					<input matInput placeholder="Placeholder" maxlength="9" minlength="9" name="taxCardNum"
						formControlName="taxCardNum">
					<mat-hint>
						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									  validation: 'required',
									  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'' | translate},
									  control: clientDataForm.controls['taxCardNum']
									}"></ng-container>

						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									  validation: 'minlength',
									  message: 'AUTH.VALIDATION.MIN_LENGTH' | translate : {name:'' | translate , min:9},
									  control: clientDataForm.controls['taxCardNum']
									}"></ng-container>

						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'maxlength',
										message: 'AUTH.VALIDATION.MAX_LENGTH' | translate : {name:'' | translate , max:9},
										control: clientDataForm.controls['taxCardNum']
									 }"></ng-container>
						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'pattern',
										message: 'AUTH.VALIDATION.INVALID_NUMBER' | translate : {name:'' | translate},
										control: clientDataForm.controls['taxCardNum']
									  }"></ng-container>
						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'min',
										message: 'AUTH.VALIDATION.MIN_VALUE_NUMBER' | translate : {name:'' | translate , min:0},
										control: clientDataForm.controls['taxCardNum']
									  }"></ng-container>
					</mat-hint>

				</mat-form-field>
			</div>





			<div class="col-md-2 d-flex justify-content-center align-items-center">
				<section class="example-section">
					<span class="mx-2 fontForInputs">حالة ضريبه ق . م</span>
					<mat-slide-toggle name="isVatTaxActive" formControlName="isVatTaxActive" class="example-margin"
						[color]="'red'">
					</mat-slide-toggle>
				</section>
			</div>

			<div *ngIf="clientDataForm.controls['isVatTaxActive'].value==true" class="col-md-2">
				<mat-form-field appearance="outline">
					<mat-label> ضريبه ق . م </mat-label>
					<input matInput placeholder="Placeholder" name="vatTaxNum" formControlName="vatTaxNum">
					<mat-hint>

						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
							validation: 'min',
							message: 'AUTH.VALIDATION.MIN_VALUE_NUMBER' | translate : {name:'' | translate , min:0},
							control: clientDataForm.controls['vatTaxNum']
						  }"></ng-container>

						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
							  validation: 'max',
							  message: 'AUTH.VALIDATION.MAX_VALUE_NUMBER' | translate : {name:'' | translate , max:100},
							  control: clientDataForm.controls['vatTaxNum']
						   }"></ng-container>

						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'pattern',
										message: 'AUTH.VALIDATION.INVALID_NUMBER' | translate : {name:'' | translate},
										control: clientDataForm.controls['vatTaxNum']
									  }"></ng-container>

					</mat-hint>
				</mat-form-field>
			</div>


			<div class="col-md-2 d-flex justify-content-center align-items-center">
				<section class="example-section">
					<span class="mx-2 fontForInputs"> حالة ضريبه الخصم </span>
					<mat-slide-toggle name="isWithHoldTaxActive" formControlName="isWithHoldTaxActive"
						class="example-margin" [color]="'red'">
					</mat-slide-toggle>
				</section>
			</div>

			<div *ngIf="clientDataForm.controls['isWithHoldTaxActive'].value==true" class="col-md-2">
				<mat-form-field appearance="outline">
					<mat-label>ضريبه الخصم</mat-label>
					<input matInput placeholder="Placeholder" name="withHoldTax" formControlName="withHoldTax">
					<mat-hint>

						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
									  validation: 'min',
									  message: 'AUTH.VALIDATION.MIN_VALUE_NUMBER' | translate : {name:'' | translate , min:0},
									  control: clientDataForm.controls['withHoldTax']
									}"></ng-container>

						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'max',
										message: 'AUTH.VALIDATION.MAX_VALUE_NUMBER' | translate : {name:'' | translate , max:100},
										control: clientDataForm.controls['withHoldTax']
									 }"></ng-container>

						<ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
										validation: 'pattern',
										message: 'AUTH.VALIDATION.INVALID_NUMBER' | translate : {name:'' | translate},
										control: clientDataForm.controls['withHoldTax']
									  }"></ng-container>

					</mat-hint>
				</mat-form-field>
			</div>

		</div>


	</mat-dialog-content>

	<mat-dialog-actions>
		<div class="d-flex">
			<button mat-raised-button type="submit" (click)="saveButtonClickedFlag = true"
				color="primary">{{'HR.BUTTONS.SAVE'|translate}}</button>
			<button mat-button [mat-dialog-close]="true" id="closeme"
				cdkFocusInitial>{{'HR.BUTTONS.CLOSE'|translate}}</button>
		</div>
	</mat-dialog-actions>
</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
	<ng-container *ngIf="control.hasError(validation) && ( saveButtonClickedFlag || control.touched)">
		<div class="fv-plugins-message-container">
			<span role="alert">
				{{ message }}
			</span>
		</div>
	</ng-container>
</ng-template>